<% layout('layouts/boilerplate') %>
    <title>About | John A. Otte</title>
    <div>
        <div class="mt-5 page-title-container">
            <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;" data-aos="zoom-in">
                ABOUT
            </h1>
        </div>
        <div class="row mx-4 d-flex justify-content-center">

            <div class="col-lg-4 d-flex align-items-center">
                <img class="img-fluid my-5" src="/images/otte.jpg" alt="john-photo" data-aos="fade-in"
                    data-aos-offset="75">
            </div>
            <div class="col-lg-4 mx-3 my-lg-4 d-flex flex-column justify-content-center" data-aos="fade-in"
                data-aos-offset="75">
                <p class="my-lg-5">
                    Dr. Otte grew up in western Michigan, the youngest of five children, he was born into a family of
                    teachers
                    and ministers. He graduated from Calvin College, a Dutch Christian Reformed college known for high
                    academic
                    standards. After graduating, Dr. Otte was accepted into one of the first doctoral clinical
                    psychology
                    programs (Psy.D. degree) certified by the American Psychology Association (APA). His focus in
                    graduate
                    school was on psychoanalytic and family systems theory with a particular interest in the theories of
                    Carl
                    Jung...
                </p>


            </div>

        </div>
        <div class="row mx-4 d-flex justify-content-center">
            <div class="col-lg-4 order-lg-2 d-flex align-items-center">
                <img class="img-fluid my-5" src="images/lotus.jfif" alt="lotus-photo" data-aos="fade-in"
                    data-aos-offset="75">
            </div>
            <div class="col-lg-4 order-lg-1 my-lg-4 mx-3 d-flex flex-column justify-content-center" data-aos="fade-in"
                data-aos-offset="75">
                <p>
                    Many members of Dr. Otte’s family suffered from the disease of addiction, so, naturally, this became
                    a
                    focus
                    of his therapy. He has always had a private practice specializing in the treatment of depression,
                    addiction,
                    and Bipolar disorder. After 15 years of practice and several personal and family crisis, Dr. Otte
                    began
                    focusing on integrating spirituality in psychotherapy. This was a natural transition for him, given
                    his
                    family history and religious upbringing. However, he will tell you that spirituality is not
                    synonymous
                    with
                    religion and that the introduction of spirituality into his therapeutic practice profoundly changed
                    him
                    as a
                    therapist, and his clinical work...
                </p>


            </div>

        </div>
        <div class="row mx-4 d-flex justify-content-center">
            <div class="col-lg-4 d-flex align-items-center">
                <img class="img-fluid my-5" src="images/helping-hand.jfif" alt="hand-photo" data-aos="fade-in"
                    data-aos-offset="75">
            </div>
            <div class="col-lg-4 my-lg-4 mx-3 d-flex flex-column justify-content-center" data-aos="fade-in"
                data-aos-offset="75">
                <p>

                    Besides his private practice, Dr. Otte has maintained part-time clinical work in various settings.
                    He
                    directed an Employee Assistance Program for Texaco in the 90’s, worked at Denver County Jail for
                    several
                    years in the early 2000s, and has worked in several area hospitals performing psychological
                    evaluations.
                    He
                    currently works at Good Samaritan Medical Center half time conducting evaluations...
                </p>


            </div>
        </div>
        <div class="row mx-4 d-flex justify-content-center">
            <div class="col-lg-4 order-lg-2 d-flex align-items-center">
                <img class="img-fluid my-5" src="/images/mountains.jfif" alt="mountain-photo" data-aos="fade-in"
                    data-aos-offset="75">
            </div>
            <div class="col-lg-4 order-lg-1 my-lg-4 mb-5 mx-3 d-flex flex-column justify-content-center"
                data-aos="fade-in" data-aos-offset="75">
                <p>
                    Dr. Otte brings a warm, irreverent, and compassionate approach to therapy with clients. He will tell
                    you
                    that, even after 27 years, he still loves therapy and continues to learn from the people he works
                    with.
                    Additionally, for the majority of his clinical career, Dr. Otte has offered group psychotherapy
                    alongside
                    traditional, individual work. He continues to provide psychodynamic group therapy for those brave
                    enough
                    to
                    embrace the challenging and powerful modality. Most of all, Dr. Otte is awed by the power of the
                    human
                    spirit and believes that all people, no matter how damaged, can, with a little willingness, be
                    healed
                    and
                    live happy, productive, fulfilling, and healthy lives.
                </p>

            </div>

        </div>

    </div>