<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 4 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">Awe</h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 4</h3>
                <br>
                <br>
            </div>
            <p>I was listening to “The Hidden Brain” on NPR recently and the topic was “awe”. Awe is defined as “a
                feeling of reverential respect mixed with fear or wonder”. The scientist, Dacher Keltner, interviewed
                for the show, said that when we experience awe, it frequently has a “destabilizing” effect on our
                psyche.
            </p>
            <p>The experience of awe destabilizes because it is something so radically new and unexpected, that `we
                don’t have a way to categorize or make sense of it. The experience changes how we see the world and we
                need to adapt our world view to fit this new experience. The changing of our perceptual framework takes
                time, and we go through a period of disorganization, confusion, and uncertainty before we arrive at a
                new framework.
            </p>
            <p>I experienced “awe” recently while leading a men’s spiritual retreat. The title of the weekend retreat
                was “Existential Spirituality: Facing our Death”. As my partner and co-leader of the retreat remarked
                about the title, “Man, you went directly at it”. And I guess I did, the whole process leading up to the
                weekend, including creating the title and itinerary, felt “God” directed.
            </p>
            <p>There was an ease to it, almost like I was writing down what had been dictated to me. This has happened
                to me before when it comes to doing one of these retreats with Al (my partner). I believe it happens
                because I’ve made a practice of surrendering, and inviting that Power (God, or whatever force/energy you
                believe in) into the process. I invite that Power into the process before every group I lead, and,
                before every session when I’m working. The only difference being that I say it out loud before groups,
                not so much for individual sessions.
            </p>
            <p>As I write this, I’m feeling overwhelming gratitude for God’s presence and work in my life. I feel
                blessed beyond my ability to understand. About a month ago I was telling a close friend that for the
                first time, I was starting to understand falling in love with God. If I was a poet, I would write poems
                about this experience. Thankfully, the Psalms have already been written.
            </p>
            <p>I read my favorite psalm, 139, to start the first group at the retreat, and I believe it set the tone for
                what happened later. Right from the start, Al and I knew something was up. Two men cried in the first
                group, something that just doesn’t happen, especially with this group of “alpha” men. I believe Al’s
                first words to me in the post-group debriefing were “Holy shit!”. We both knew something was up,
                something different was happening.
            </p>
            <p>The group attained a shared sense of purpose that first day, and by the evening “wrap-up” group we were
                rolling. Looking back, I was starting to experience a different kind of intensity that Friday, I was
                super focused, kind of “locked-in” to the group process, like I knew what was going to happen before it
                did: I knew who needed to talk next, who was feeling the most, etc. It was like how I imagine surfing
                would be, I was tracking with the energy as it was unfolding, like riding a wave. I was aware that I was
                very connected to the group process that evening but had no idea what was going to happen to me the next
                day. All I knew was that I was very tired but did not sleep well that night.
            </p>
            <p>The next day was Saturday, what I have come to think of as the “work” day of a weekend retreat. It’s when
                the work of the group reaches its peak intensity, and every member of the group has an opportunity to
                get as deep into their process as they are willing to go. This group had already demonstrated an ability
                to go deep, and I was experiencing a little anxiety as the first group of the day began.
            </p>
            <p>That anxiety quickly transmuted into energy. My experience at the time was of an energized intensity, I
                was even more focused and more present in the moment. Again, I had the experience of riding an energetic
                wave during the group, my empathy was somehow both focused on where the group needed to go and on the
                individuals in the group, and where their work was taking them.
            </p>
            <p>As the group progressed something else started happening. I felt this LOVE, this deep, energetic LOVE,
                for every man in the group, including myself and Al. I shared some things about myself and my childhood
                that I have never said before in the therapist role. But I wasn’t really concerned about it, I could see
                that it would deepen the process if I became more vulnerable, so that’s what I did. The LOVE experience
                grew in intensity during the group. I was aware that something was changing inside me, and that there
                was this energy moving around me and through me. It was exhilarating, and a little frightening.
            </p>
            <p>After the first group I went for a walk with one of the group members. We were maybe a hundred yards into
                the walk when he stopped, grabbed my arm, turned to me, looked me in the eyes and said “man, you are on
                fire! Everyone knows it, everyone is talking about it too.” I believe I responded “really?”. He went on
                to say, “Some of the guys were saying that you were in rapture, like love is just flowing through you,
                you were almost glowing dude.”
            </p>
            <p>I didn’t know what to say. How does one respond to something like that? His comments did clarify and help
                me understand my experience, but they also brought an unwanted self-consciousness. I had been so present
                up until that moment and free from self. That freedom from self helped me understand something new about
                living in the moment: to truly be present in the here and now we need to let go of ourselves. This may
                be an obvious observation for many of you, but it was new to me.
            </p>
            <p>We walked and talked for a half hour, mostly about God and how present that Power felt, both at the
                retreat center and in the group. I felt filled with a kind of “love-energy” and after the two of us
                split, I found a quiet, peaceful seat on a hidden deck and meditated in the sun for another half hour.
                Meditating helped me let go of my unwanted self-consciousness, once again I felt present in the here and
                now, and ready for the rest of the day.
            </p>
            <p>We had two groups in the afternoon that Saturday and they continued to be as deep and healing as anything
                I’ve ever experienced. I was able to regain the focused intensity of the morning, my awareness somehow
                simultaneously on both the group and the individual’s process. During the group sessions I felt
                energized and focused, outside of the groups, I felt very tired, and fell asleep almost immediately when
                I lay down for a nap.
            </p>
            <p>Saturday evening we all went out for dinner at a nearby restaurant, a place where the group could talk
                and socialize, part of the retreat bonding experience. At dinner I again experienced a profound
                tiredness. After dinner, a group member, an exceptional musician/song writer, gave an impromptu concert
                in the music room at the retreat center. It was wonderful, he gave a soulful, heart-felt performance,
                his voice expressing the vulnerability and love that had infused the weekend.
            </p>
            <p>My fatigue was such I barely made two songs before I needed to go to bed. I slept like a rock and had
                difficulty waking up the next morning. The last group on Sunday morning seemed to me to be a perfect,
                heart-felt, recap of the weekend. Everyone, including Al and I, shared how meaningful and powerful the
                experience had been, and how it was difficult to put the experience into words.
            </p>
            <p>I had two days off following the retreat, thank God. I believe I slept close to twenty-two hours over
                those two days, and the rest of the week I was in bed by 8:30p. The word “destabilized” is the closest
                thing to capturing my experience. I have never felt that kind of love before, neither have I experienced
                that kind of focused, intense, energy.
            </p>
            <p>For many years now I have referred to God as “that Power”, mostly because the word “God” has so many
                negative connotations for those of us brought up in organized religion, but that wasn’t the only reason.
                The main reason is that the word “Power” captures my experience of God since I have been in recovery.
                How else do I understand the profound change I have witnessed in myself and others because of working
                the steps? In recovery that “Power” demonstrates the ability to change human beings on a
                characterlogical level.
            </p>
            <p>To change a human being from living a self-centered, isolated, self-destructive existence, to a life of
                open-hearted service, in community, is nothing short of a miracle. For myself, the shift from an
                externally focused drive for immediate self-gratification, to an internally focused drive to increase
                love and peace in my life, is evidence of Power.
            </p>
            <p>And even that idea of “Power” was blown out of the water with my experience on the retreat. I was
                describing the experience to my therapist, who doesn’t come from a spiritual framework, and she said
                that she felt that my experience of intense love shattered one of my core self-images. Since I was very
                young, I have struggled with a core image of myself as “a fuck-up”, This self-image resulted in a
                persistent anxiety that, inevitably, I would mess things up and self-destruct.
            </p>
            <p>As soon as my therapist said that I was now free from my negative self-representation, I knew she was
                right. My persistent, low-grade anxiety had been removed, it was gone, and I was experiencing a new
                freedom, around who I was, and what I could become.
            </p>
            <p>I had a very interesting experience with my three older siblings shortly after the retreat. We have a
                bi-weekly zoom call since Covid, and I told them about my experience at the retreat. The interesting
                part was I found, to my surprise, that I was not seeking their approval, not only was I not seeking
                their approval, but I also didn’t need it. In fact, for the first time I can ever remember, I didn’t
                feel like the youngest sibling. I was just myself.
            </p>
            <p>I believe that we are a mystery to ourselves, much as that Power is a mystery to us. Perhaps it’s the
                part of us that is made in God’s image, or our soul/spirit, or what many spiritual teachers have called
                our “true self”. So, when I say I was just myself, I am essentially saying that I claim that mystery. I
                allow for the spontaneous expression of me without the fear of judgment or shame. And to be truly
                present, I let go of any ideas I have about me.
            </p>
            <p>I am borrowing this idea from some of the men in my wife’s home group, men with over 40 years of
                sobriety. They said that to truly experience that Power we need to let go of any ideas we have about who
                we are or what we are about. Or, from a different perspective, to be present in the now, we need to
                surrender our ideas and beliefs and allow that Power to show us. The question then becomes, who are we?
            </p>
            <p>To quote my partner Al, “We are a unique and unrepeatable expression of God’s love.”
            </p>
            <p>I love that quote, and it helps me understand some of my experience at the retreat. The love that found
                expression through me was pure energy. Intelligent, compassionate, powerful energy. That Power worked
                through me but was not from me. I believe that, at my core, I am a part of that love, we are all a part
                of that love, and when we surrender ourselves to that love, we allow ourselves to be healed.</p>

        </div>
    </div>