<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 1 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Swinging in the Dark
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 1</h3>
                <br>
                <br>
            </div>
            <p>In Michael Murphy's “Golf in the Kingdom,” The author plays what he believes to be the first golf course
                in the world, and he experiences a power he calls “true gravity”. I read it in 1988. It was a case of
                the right book at the right time. I had just moved to Colorado and was beginning my career as a
                psychologist. I was uncertain and afraid. The book clicked for me because it describes bigger forces at
                work, unseen power that, when accessed, is there to assist and strengthen us. </p>
            <p>Flash forward to winter 2021 when, again, I am uncertain and afraid. I have just launched a new website
                that I hope will revitalize my clinical practice. I have never put myself “out there” like I have with
                this website. I hope the website is a grand success, seen by thousands of people who then want to
                immediately schedule weekly sessions with me, and at the same time, I wish that no one sees it and I
                remain anonymous. </p>
            <p>It it’s the day after Christmas and still dark. A line of yellow light is growing slowly on the east
                horizon but above me the sky is black. The starter said, “You’ll be playing with Mr. Smith, unless you
                want to tee off now and play by yourself?” I paused and looked at the dark sky, then said that, yes, I
                would play by myself. The starter directed me to the first tee, located a little way down the cart path.
            </p>
            <p>I love being the first one out on a course; no distractions and I can set my own pace and rhythm. I
                looked ahead as I stopped at the first tee. I could make out the fairway and the outlines of a few palm
                trees in the distance, maybe they were behind the first green? I wasn’t sure, and as I took a few
                practice swings, I knew I wasn’t going to be able to see the golf ball in flight. There was no getting
                around it, I would be playing blind.</p>
            <p>I teed the ball up and stepped behind it to visualize the shot. “What the hell,” I thought.
            </p>
            <p>My swing was smooth and I made good contact, it felt like it went straight, but I really had no idea
                where the ball went. Walking to my cart I decided that if I couldn’t find the ball, I would just drop
                one where the ball would be if I hit a decent tee shot. As I passed the 150-yard markers I was just
                getting ready to turn around when I saw something on the left side of the fairway, and, sure enough,
                there was my ball, just off the fairway, 130 yards out from the green.</p>
            <p>I knew it was my ball because I was using a white ball with little green four-leaf clovers on the surface
                (I’ll take all the luck I can get). I got out of the cart and grabbed an 8 iron. I could not see the
                flag, but I could see the outlines of the green with a sand trap on the left side. I addressed the ball.
            </p>
            <p>There’s a sound, familiar to all golfers, when the club strikes just right. It’s a kind of “click”,
                clear, crisp, and you can feel the contact through your hands. It feels effortless. My shot felt like
                that. I sometimes have a pang of anxiety when I hit the ball that way, that I have hit the ball too
                well, and it will fly too far, over my intended target. I thought the shot was long as I drove up to the
                green.</p>
            <p>Indeed, I found the ball behind the green and chipped it to 3 feet from the hole, missed the putt, and
                recorded a bogey on the first hole. Could’ve been worse.
            </p>
            <p>The second hole curved to the right, around a small lake. I couldn’t really see the green, but I could
                make out the outlines of the hole, and the lake was a darker shade on the right side. I asked the sun to
                please come over the horizon as I teed up. The ball sounded good coming off the club. I thought maybe it
                was a little right and listened hard for a splash, but there wasn’t one. I found the ball on the right
                side of the fairway, two feet from the water. I hit my second shot at the outline of the green.
            </p>
            <p>I parred the second hole, a tap in par, in the dark, on a hole I had never played before. Wow. It’s
                difficult to describe my feelings as I drove to the third tee box. I kept looking to the east, wishing
                the sun to come up, but I was also starting to experience “flow”, that sense of alignment with what is
                and being present in the moment. There’s an effortlessness when you experience “flow”, an ease of
                movement and peace of mind. It feels awesome, but also delicate.
            </p>
            <p>By the third hole it was lighter for sure, but the sun had not yet breached the horizon. I still couldn’t
                see the flag, and I knew I wouldn’t see the flight of the ball, but number 3 was a par 3, and I hit my
                shot on the green. The sky was more blue than black as I pulled up to the green and saw my ball,
                probably 40 feet from the hole. I felt light on my feet, almost like I was gliding through space. I
                proceeded to 3-putt for another bogey, but my spirits remained high.
            </p>
            <p>The edge of the sun was peaking over the horizon as I walked up to the fourth tee box and, for the first
                time, I could see the entire hole, a par 5, laid out before me. A long dogleg left with several sand
                traps framing the fairway and a half dozen majestic palm trees behind the green. The earth felt new,
                reborn, still with the nighttime dew softening the lines of the course. I felt joy as I reached for my
                driver, joy and gratitude.
            </p>
            <p>I striped a drive down the middle of the fairway, hit my second shot, a fairway wood, straight and true,
                and missed an 8-foot putt for birdie on hole number 4. I parred the hole and went on to shoot a 39 on
                the front. For the average amateur golfer, breaking 40 strokes for 9 holes is a rare achievement.
            </p>
            <p>My only concern as I started the second 9, was that I didn’t fall apart on the back. This has happened
                before to me and most of the golfers I know. I texted my friend John a picture of the scorecard as I
                pulled up to the number 10 tee box. His response, “just go with it”. The exact words I needed to hear.
            </p>
            <p>I ended up shooting a 43 on the back, not great, but not bad either. I did not double bogey the entire
                round, a big accomplishment all by itself.
            </p>
            <p>But the main thing was, I did just go with it, I let go and I let the momentum carry me, I could feel
                this energy, this power working through me and all around me for the entire round. The score didn’t
                matter, in the words of Michael Murphy, I experienced “true gravity” as I “played” in the field of the
                golf course. The two things I remember about Mr. Murphy’s book have to do with re-learning how to “play”
                and recognizing that there are larger forces at work, and we can “play” along with that energy.
            </p>
            <p>While I was playing, I felt the anxiety I had been carrying melt away. As far as my career and my new
                website, I was swinging in the dark and that was ok. Maybe I would find the ball in the fairway and go
                on to “score” because of my actions, or maybe I would not, that was not mine to determine. My
                responsibility was to commit to and make the swing, take the action, and then hold on to my faith that
                it was going to work out the way it was meant to.
            </p>
            <p>We don’t get to see the future, as much as we would like it to, life doesn’t work that way. Sometimes we
                can feel like the action we take is the right thing, but that’s as close as we get. And what we’re left
                with is faith. Faith that it will all work out, that we will find our ball in the darkness and get to
                take that next swing. That’s all we get, and today, that’s enough.
            </p>
        </div>
    </div>