<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 5 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Words
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 5</h3>
                <br>
                <br>
            </div>
            <p>Early in my career as a psychotherapist, I realized that there was no predicting the impact of what I
                might say to one of my clients. I do not remember a specific incident, but it was most likely after I
                thought I had made some brilliant observation or offered what I thought to be a penetrating insight and
                then…the client brushed it off and kept talking like I hadn’t even spoken.</p>
            <p>Then there was the other side of it. The client saying at some point in the session, “something you said
                last week really hit me”. I came to understand that there was no way I could correctly guess what the
                client remembered. Occasionally I would have a feeling about what might have struck a nerve, but just as
                often, it would be an offhand comment, or something I didn’t even remember saying.</p>
            <p>So, a couple of months ago, when a client said to me that something I had said the previous session had
                completely changed her life, I didn’t try to guess. I said something like “Really?” with maybe a little
                doubt in my voice “What was that?”. A little background would help give context here. The client, like
                many people with chronic, moderate anxiety, would often imagine the worse possible thing that could
                happen, and being a parent, that meant that she would be plagued by thoughts of harm coming to her
                children. These thoughts terrified her and sent her spiraling down an anxiety ridden rabbit hole.</p>
            <p>I believe that what I had said to her was something like, “recognize that they are just thoughts, they
                haven’t happened, and the odds are, they will never happen”. I may be embellishing here, what she said I
                said was “they are just thoughts”.</p>
            <p>It is difficult to describe the profound change I witnessed in the client that day. Instead of her usual
                emotionally troubled and anxious presentation, she was, well, happy! She was smiling and telling me
                about this new freedom she was experiencing.</p>
            <p>She reported that she had been meditating every day and that, once it “clicked” that they were just scary
                thoughts she was experiencing, she stopped being anxious about having the thoughts and was able to let
                the thoughts go when they came up. Her capacity to let go of being anxious about being anxious was key
                to her newfound freedom. She started focusing on all of the blessings in her life, she enjoyed just
                hanging out with her children, she was more present, and was experiencing a deep and profound gratitude.
                Every day.</p>
            <p>Furthermore, she applied her experience to her relationships. She told me that she was more compassionate
                with her friends and family, less “judgie”, more empathic, and that the change of energy in her
                relationships had resulted in more love and joy in her life. What the client was experiencing was
                nothing less than a spiritual awakening. And all because of me saying “they are just thoughts”?!?</p>
            <p>This got me thinking about the power of words, and what it is that makes them powerful. There are certain
                words – often of the negative variety – that we imbue with power. Words that are

                inherently racist for instance. There are also words, especially in my field, that start powerful and
                then, through overuse, lose their power. The word trauma, for instance, is losing its power, if it
                hasn’t already happened. It has been overused to such an extent that I must clarify what a client is
                referencing when they tell me an experience is “traumatic”. This has happened before in my field, the
                word shame came very close to losing power, as did grief.</p>
            <p>Trauma and grief are, of course, part of the human experience, and, when we open our hearts to love, as
                my client has done, we are also opening ourselves to the pain that love brings. That pain, the pain of
                eventual and inevitable loss, is a sweet sorrow. Because the truth is, love is more powerful than loss,
                eventually. Love lives on while the pain of loss fades over time, and, if we believe what spiritual
                leaders have been teaching us for millennium, love is stronger than death.</p>
            <p>My client having a spiritual awakening resulting from hearing four short words doesn’t reveal the whole
                spiritual process, however. There was the foundation of love and trust established between myself and
                the client, the “therapeutic alliance” as it’s referenced clinically, basically the relationship.</p>
            <p>I believe the therapeutic alliance is sacred, even holy. Holy means to be dedicated or consecrated to
                God. For years now I have invited God, or that Power, into the therapeutic process. Maybe those 4 words
                I uttered without conscious thought, were directed by something greater than me. Directed by LOVE.</p>
            <p>Love too, is just a word, but I believe. Maybe when we say words infused with love they carry power
                beyond our wildest imagination.</p>

        </div>
    </div>