<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 3 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Spiritual Group Therapy
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 3</h3>
                <br>
                <br>
            </div>

            <p>Ten of us sat in a circle in the library of the retreat center. It was a beautiful room, with floor to
                ceiling books lining the walls and dormer windows high up on the 20-foot ceiling, letting in fresh high
                desert air. This was early fall several years ago and I was co-leading a spiritual retreat with my dear
                friend and co-therapist Brenda. This was the Saturday afternoon group, the penultimate group of the
                weekend retreat.
            </p>
            <p>As with every meeting that weekend, we had started the meeting with a 10-minute meditation. The
                meditation had just ended and as we sat there in comfortable silence the wind came up. It’s a bit
                difficult to describe this experience (more on that later). We had felt a breeze a few times up to then,
                with the windows so high up in the roof, it wasn’t a direct breeze, more like feeling the air move
                around us.
            </p>
            <p>But what we were experiencing now was a direct breeze that seemed to gather and swirl as it moved around
                us. It was impossible not to notice this wind. My immediate thought was “Pentecost” and if little flames
                had appeared above the heads of those gathered there I would not have been surprised, frightened maybe,
                but not surprised. I looked across the circle at Brenda and we made eye contact, a little smile appeared
                on her face, and I knew that she knew what I was thinking, “Holy Spirit”.
            </p>
            <p>I don’t remember who shared what after that but what I do remember is that love filled the room and
                everyone, including the two therapists, opened their hearts and told their truth. Sometimes, as a
                therapist, you can feel healing while it is occurring. You can feel the power of love in the moment. It
                is a beautiful and wonderous thing to behold.
            </p>
            <p>I once had one of those moments with an old client of mine. It was a dark, cloudy day and he was in a lot
                of pain over the struggles of his son. My office was filled with his despair and pain, and I felt
                helpless to alleviate his suffering. As the session neared the end, something strange happened. I have
                been in this office for 20 years and I can honestly say that nothing like what occurred that day has
                happened before or since.
            </p>
            <p>A golden light filled the room, and I mean filled the room, like the air itself turned radiant gold. We
                both looked outside and there was the smallest of breaks in the clouds, and you could see the barest
                glimpse of the sun, but nothing that would explain the gold light that enveloped us. My client said
                “wow”, and I said “yeah”. We both had big smiles on our faces as the session ended and we both went on
                our way. His suffering was gone.
            </p>
            <p>Later that evening I received a text from my client, he asked “did that really happen?” I replied “yes, I
                believe it really did” but, I, too, had my doubts. I have thought about that morning many times since,
                and the conclusion I’ve reached is that we really don’t know how to understand those moments when we
                experience the divine. In fact, we can’t understand them, and that’s because what we’ve experienced
                isn’t human.
            </p>
            <p>My spiritual mentor, Dano, whenever he talked about his Higher Power, he would say “that Power that I
                don’t understand”. Dano helped me see that my perceptions of a Higher Power (HP) were based on childhood
                perceptions of my parents. I miss Dano because I could have had this conversation with him. How, when we
                do experience our HP in a direct way, like in group that day, or with my client in my office, when we
                think about the experience later, we doubt, we question, we don’t believe.
            </p>
            <p>I got back into group therapy about 10 years ago with my good friend Al. We talked about how we could do
                a “spiritual” group, and, ultimately, we started a group together. Al was both an organizational
                psychologist (he would dispute that characterization, but he is) and a spiritual director and we
                connected on both levels, both spiritually and psychologically. He was also a gifted group therapist and
                we worked well together.
            </p>
            <p>We decided that to have a “spiritual” group we would do two things; first, we would start the group with
                a five-minute silent meditation, second, we would ask that Power (or HP) to come into the process. I
                have come to realize that our thought process around how to build spirituality into group therapy was
                divinely inspired. We were both blown away by the process of that first group, as I have been in the
                groups I’ve done since, and I do those two things in every group I lead.
            </p>
            <p>There is something about asking that Power into the process that changes everything. A simple request and
                hearts are opened, wounds are exposed, and, above all, unparalleled healing energy infuses the room.
            </p>
            <p>I have seen glimpses of Divine Love in almost every group I have led since. Sometimes, the energy is so
                palpable that I can’t hold back tears. And most often, those moments occur in shared, comfortable
                silence. Thomas Keating, one of my spiritual heroes, said that “God’s language is silence, everything
                else is a poor translation.” And, I must say, when we allow ourselves and those around us to “just be”,
                grace and love are bountiful.
            </p>
            <p>But group therapy is about sharing one’s truth, and listening top others do the same, the silences, when
                they occur, happen organically, after there’s been much verbal sharing. Spiritual Group Therapy is
                ultimately about community building, a community that’s built on sharing one’s truth. If you’re reading
                this, I sincerely hope that you have the chance to participate in this kind of community.
            </p>
            <p>I believe it’s why we are here.</p>


        </div>
    </div>