<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 2 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Retirement
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 2</h3>
                <br>
                <br>
            </div>
            <p>
                I often play golf as a single which means that I am paired with people I don’t know. Most of the time, I
                enjoy this process, as I get to meet all kinds of interesting people, and I’ve found that most people
                are friendly and welcoming. Because I try to play golf during the week, I am frequently paired with
                retired men, and during the round they ask me if I’m retired. I usually respond “no, I’ll work until I’m
                dead” and I mean it.
            </p>
            <p>I love what I do, and I find being a therapist endlessly interesting, to the extent that I really can’t
                imagine not doing it. The wonderful thing about being a therapist is that, if your mind is clear and
                sharp, you’re good to go. In fact, I feel like I’m doing my best work right now, and I’m still learning
                (!?!). So why would I quit? I’m not saying I won’t cut back at some point, in fact I’m sure I will, but
                give it up altogether? No.
            </p>
            <p>But people around me are retiring. It seems like every week someone is telling me they’re going to
                retire. In the last month or so I’ve learned that one of my closest friends is retiring at the end of
                the month, and that both my therapist and psychiatrist are hanging it up. My friend retiring is good
                news as it means he will be more available to play golf and hang out. My therapist and psychiatrist
                retiring is decidedly not good news, sad and scary news in fact.
            </p>
            <p>C.S. Lewis, in his book about grief said, “no one told me about the fear”. Grief and fear are woven
                together when we deal with loss. Elizabeth Kubler-Ross identified five stages, or, more accurately,
                processes that we go through after a significant loss: denial, anger, sadness, bargaining, and
                acceptance. It’s interesting that she doesn’t identify fear as a stage in grief. Maybe because it’s the
                background music for all the stages. Even when we reach acceptance, we are often afraid that we won’t
                honor the person we’ve lost if we accept that they’re gone.
            </p>
            <p>The point is, fear is pervasive when we are faced with loss. Fear has many corrosive effects but maybe
                the biggest one is it keeps us from being fully present in our life. When I am in fear, I am less likely
                to notice the sun on my face or the warm spring breeze blowing my hair, and I am less able to recognize
                what may be happening for the people around me. Fear is self-centered and self-centering.
            </p>
            <p>The time in my life when I was most afraid was when addiction blew up my life and I was arrested. This
                was in 2005 and for the 2 years following my arrest, after the loss of my professional license, and the
                loss of most of my collegial relationships, I was in constant, pervasive fear. I have come to understand
                this experience as a form of ego death.
            </p>
            <p>I lost my professional identity when I couldn’t practice psychology anymore and, I recognize now, I had
                invested all of myself into that professional identity. So much of my identity was tied up in being a
                psychologist, that when it was taken away, I didn’t know who I was, and I didn’t know what to do.
            </p>
            <p>After watching too many “Law and Order” repeats for several days, I realized that I needed to work, so I
                took work where I could get it, first in painting new apartment buildings, then in construction. In both
                cases, I was the new guy and was assigned the grunt work for the crew. Looking back, I realize now that
                this was necessary for me to find true humility, but at the time I just felt humiliated and afraid, very
                afraid.
            </p>
            <p>The experience of fear around retirement is not unusual. In fact, whole advertising campaigns are
                directed at that fear: will I have enough money? Will I have enough to do? What will I do? And on and
                on. Retirement is a transition, there’s no doubt about that, however, as with most transitions, it can
                be sudden or gradual, and how we experience that transition has everything to do with how we frame it.
            </p>
            <p>For my close friend who is retiring, his framework is a release from the burden of work. He sees it as
                freedom and that’s a pretty good indication that he will have a smooth adjustment to his retirement. For
                those who experience retirement as an opening of possibility and freedom of choice, more than the loss
                of something they loved to do, they are not faced with the same grieving experience or loss.
            </p>
            <p>For those who are leaving work that they loved or are passionate about, there is loss, and with the loss
                comes the fear. Loss of a work identity is no small thing; especially if the person defines themselves
                by their work identity. Then the loss requires a complete reorganization of a person’s identity, a
                reorganization of self, if you will. When a reorganization of self is needed, the loss of the work
                identity results in the questions I identified earlier: Who am I? What am I going to do?
            </p>
            <p>I believe the answers to these questions lies in the spiritual realm as much as the psychological one.
                Even for the person who wants to retire, a period of disorganization occurs when they don’t get up and
                get ready for work that first Monday morning that they are retired. Their life has been patterned and
                organized by needing to be at a certain place at a certain time, and on that first Monday there is no
                place to be and no time they need to be there.
            </p>
            <p>But the disorganization goes deeper than a change of schedule. In 2017 I got very ill, and, as a result
                of my illness and subsequent surgery, I ended up leaving my hospital work. I had worked in general
                hospitals doing psychological evaluations for almost twenty years and, just like that, it was over. I
                realized that I lost a part of me when I retired from hospital work. I lost a version of me, a
                self-created persona that had taken years to develop, and, when the loss hit me, it was disorganizing,
                part of me was gone, forever.
            </p>
            <p>Don’t misunderstand me, I was relieved to stop working in the fast-paced, demanding world that is a
                general hospital, but I missed that me. I missed the authority and status that had taken me years to
                establish, I missed the way that very accomplished and sometimes arrogant physicians deferred to me, to
                my judgment and my decisions. Ah, the power of it, it was very heady at times.
            </p>
            <p>But it was over and that part of me was gone, and there was a need to re-establish my “new” self. In the
                end, I turned to meditation and writing, but during the re-organization period there were times of
                confusion, sadness, and fear. At times, I wasn’t sure who I was anymore and during those experiences,
                just like 10 years earlier, I turned to my Higher Power. I said a prayer that my wife taught me, a
                prayer that asks that Power to show me what to do and help me be what It would have me be.
            </p>
            <p>I surrendered.
            </p>
            <p>I didn’t know where I was going when I started writing this essay, but, once again, that Power showed up
                in the process and revealed to me what to write. I believe that when we are disorganized, when we don’t
                “know” the answers, we have the opportunity to allow God to show us. Perhaps disorganization of the ego
                is a necessary precursor to spiritual growth, I don’t know. But what I do know is that every time I have
                gone through change, gone through confusion and fear, and have surrendered to that Power, It shows up.
                Every time.</p>
        </div>
    </div>