<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 9 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Revelation</h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 9</h3>
                <br>
                <br>
            </div>
            <p>Last year my partner and I chose a word for the year of 2024, rather than make any resolutions. In all my
                years I don’t think I’ve ever kept or maintained a New Year’s resolution, ever. I can say with some
                certainty that most every year I at least consider a New Year’s resolution. It doesn’t usually work, but
                I’ve always rationalized that it doesn’t hurt to try and quit something, even if you fail. There is
                research that supports my assertion, the more often you quit something, the more likely you will succeed
                at some point.
            </p>
            <p>I’m not sure where I heard about choosing a word for the year, but the process was impactful. We wrote
                our words on the family white board (where the grocery list goes every week) so it was something I
                looked at, at least weekly, often more than that. My word for 2024 was “surrender” and when I read that
                word, I would remember my intention, to surrender my will to the care of that Power greater than myself.
            </p>
            <p>I need to be reminded of my intentions, I so easily forget and slip into unconscious living. That’s why
                meditation is important for me; if I don’t meditate I move from intentional living in the now to
                unconscious reactivity. At this point in my life, I would much rather live intentionally, than just
                react to people and events as my life unfolds. There is a difference between reacting and consciously
                responding, to respond suggests some mindfulness between the event and how I respond.
            </p>
            <p>When you add to that awareness an open heart, things get interesting. It’s the combination of
                contemplation and Love that can potentiate “Christ Consciousness.” Father Thomas Keating wrote a primer
                on Christian meditation called “Open Mind, Open Heart” and, as the title suggests, he believed that
                daily meditation has the potential to open the mind to new understandings and open the heart to give and
                receive Love.
            </p>
            <p>When I thought of Love as a child, I never thought of it as intelligent, and that childhood understanding
                of Love lasted well into adulthood. Love was a feeling at first, the feeling of being loved, accepted,
                safe. At some point in my 30’s I came to understand that love was also action. Children and being in
                relationship teach us that, from changing a diaper when you’re half asleep, to taking care of a partner
                when they’re sick, love requires that I act, especially when I don’t want to. This reality was
                reinforced when I started a recovery program, much of recovery is doing things (going to a meeting,
                sharing honestly, being of service) that I might not feel like doing, but benefit me in the long run.
            </p>
            <p>My experience of Love as intelligence happened during a men’s spiritual retreat two years ago. I lead the
                retreat with my partner Al. It continues to be difficult to put that experience into words. During the
                retreat I felt a level of understanding and compassion that was truly beyond anything I had felt or
                understood before. To put it simply, I felt the Divine Spirit working through me and it rocked my
                perceptual world in ways I am still coming to accept.
            </p>
            <p>I needed a deep shift in my consciousness to even begin to admit that the retreat experience was real.
                That shift was necessary because I had no context for my experience. I understood that the Spirit had
                moved through me, intellectually. But my whole perceptual world had changed, the experience of that
                Power working through me and with me changed how I thought about God and how I thought about myself.
            </p>
            <p>Today, I occasionally experience a wisdom that originates in my heart but is not “of” me. That wisdom is,
                for me, Christ Consciousness, and that consciousness is possible when I surrender myself to the power of
                Love.
            </p>
            <p>My word for 2025 is revelation. It was suggested by a spiritual advisor, and while the word scares me a
                little (apocalypse comes to mind), it has also made me curious. I encourage you to pick a word for 2025,
                live intentionally.</p>
        </div>
    </div>