<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 7 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Depression
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 7</h3>
                <br>
                <br>
            </div>
            <p>It begins with an idea, and then morphs into a need, a need to write. Usually I have a topic, and when
                things are ready to roll, I frequently get a beginning sentence. This has happened so often that I’ve
                come to depend on it, so much so that after I admit I need to write about something, in this case,
                depression, I wait for my unconscious to provide me with my opening line. This is not an altogether
                unpleasant period, this waiting. </p>
            <p>I enjoy the idea that I am allowing my unconscious to percolate, that something creative is happening
                outside of my conscious process. Like maybe God is talking to me just outside my awareness, or this
                enhanced creative process is taking place, even while I sleep. There are so many layers to the human
                experience and, for me, writing allows me access to a deeper emotional process and to mystery. When I
                write, life becomes multidimensional, beautiful in both its simplicity and complexity.
            </p>
            <p>This time I didn’t get that opening line. I’ve been waiting for one, for a couple months now, but it
                hasn’t happened. Maybe that’s due to the topic. Depression is not an easy topic for me, intellectually
                or emotionally, it’s too real and, in this instance, perhaps too recent. I don’t see the purpose of
                writing if I’m not going to speak my truth, and speaking the truth about depression leaves me
                emotionally exposed and vulnerable. Becoming vulnerable when depressed is, at the very least,
                counter-intuitive.
            </p>
            <p>To be frank, I don’t want to do it. I believe that I am in the process of emerging from a depressive
                episode like I haven’t experienced in years, but there is no certainty there. It’s wait, and hope for
                the best. The risk of sliding down the slippery slope of depression feels too real. But, writing about
                it also feels necessary.
            </p>
            <p>On the positive side, the fact that I have some hope today is a sure sign that depression doesn’t have
                the hold on me that it did, even a month ago. Hope is an anti-depressant, on the emotional front, maybe
                the most important anti-depressant. Hopelessness, dread, a foreboding sense of doom, despair, and anger
                are a few of the emotional markers that signal to me that depression is permeating my consciousness.
            </p>
            <p>But depression is a frenemy that sneaks in the unlocked backdoor of my consciousness. It does not
                announce its arrival, rather, a very subtle, gradual shift in my thinking starts to happen. It might
                start with a particularly stressful, emotionally difficult day that morphs into several days, it is
                always accompanied by fatigue. I start feeling tired, especially in the morning, and a little
                emotionally detached.
            </p>
            <p>Imagine a cloudy, dreary day that extends into a cloudy, dreary week. Every now and then, that happens in
                Colorado; one gray day slides into another, and another, and I am transported back to my childhood in
                Michigan, where the gray “uni-cloud” could last from the beginning of November through the end of March.
            </p>
            <p>I start either sleeping too much or too little, either way, I never feel rested, always the fatigue, and
                even completing normal hygiene, like shaving, or taking a shower, takes enormous energy and resolve.
                Irritability and intolerance become my baseline emotional experience.
            </p>
            <p>Anger comes into play, usually directed at myself, but it spills over into my relationships, and I become
                annoyed by little things, a dish left in the sink, or silverware soaking in a glass of dirty water, like
                the peanut butter encrusted knife is going to magically clean itself. I take that as a personal attack
                on my well-being and have to fight myself from saying something sarcastic under my breath, and too often
                I give in and say something mean or nasty. I’ll come back to the relational side of depression in a
                little bit.
            </p>
            <p>First I need to talk about the emotional pain that starts to take over the center of my being. This is,
                for me, the most difficult part of depression. It begins as a dull but painful ache in my center. The
                ache persists and grows until it feels like I can’t escape it. Then the fear surfaces, fear that it’s
                never going away, fear that this is my new reality, like I’m married to this pain that has no bottom,
                and the only way out is death.
            </p>
            <p>It's at this point that suicidal ideation surfaces. I don’t entertain thoughts of killing myself any
                longer, as I have seen the devastation that suicide causes on the people left behind, trauma that gets
                handed down from generation to generation. So, no, I’m not going to kill myself. However, dying in my
                sleep? Or from the sudden onset of a terminal illness? Well, that’s another thing altogether. I am tired
                all the time so the idea of death as a long sleep carries a lot of appeal, and the promise of relief.
            </p>
            <p>Fear morphs back into anger, I’m so angry but there’s nowhere to go with it, so I try to contain it and
                pray that it will pass. In this last episode I was angry for what felt like days, I wasn’t angry at the
                people around me, but they are in an impossible situation: how do you live with someone who’s pissed off
                all the time? Who can’t articulate what he’s angry about?
            </p>
            <p>Living with someone who is clinically depressed is difficult to say the least. From the depressed
                person’s side, one can feel a strange detachment, a lack of empathy for sure but it’s more than that. I
                heard a definition of boredom once that fits the interpersonal experience of the depressed person
                “unenthusiastic hostility”. The people close to the depressed person are sure to experience this and
                feel it in response to the depressed person.
            </p>
            <p>When it reaches a clinical level, depression is difficult to be around, never mind interacting with the
                depressed person. There appears to be no benefit from empathy or listening, there’s no movement, no
                emotional opening to connect with, just irritability and overwhelming negativity about everything. The
                spouse or partner of the depressed person feels helpless, and it looks like the depressed person is
                doing nothing to help themselves, this passivity results in the partner becoming irritated and, finally,
                just angry at the depressed person.
            </p>
            <p>Pretty quickly real emotional connection (other than angry interactions) ceases to happen, and both the
                depressed person and those close to he/she feel more and more alone in their suffering. If depression
                was an entity, I believe this would be its ultimate goal: emotional suffering in isolation with no hope
                for relief or connection.
            </p>
            <p>So how does one get better from depression and what are the people around the depressed person to do? I
                used to say that depression = repression, and I still believe that to be true, especially when it comes
                to trauma and repressed painful emotions. So, a starting point is psychotherapy, something that starts
                to open you up emotionally. However, medication is also needed, at least in my case.
            </p>
            <p>I fight that idea, even now, 20 years since I was diagnosed with Bipolar II. The diagnosis and resulting
                change in medication saved my life, and stopped a particularly bad addiction run that was going on 10
                years. I would get 6 months, or a year clean, the most I had in those 10 years was 18 months, then I
                would get a prescription for pain medication, or, at the end, Ritalin, and I would be off to the
                addiction races. My pattern of relapse stopped after I was correctly diagnosed with Bipolar II, not a
                coincidence.
            </p>
            <p>I tell people that medication is often necessary, especially if they’d had more that one Major Depressive
                episode, and medication adjustments are also part of the process of treatment. Occasionally, I’ll get a
                referral that’s clearly situationally triggered depression, but more often I have a discussion with the
                client that goes like this: “You have Major Depression (Dysthymia, Bipolar, etc.) and while it’s not
                your fault that you have depression, it is your responsibility to treat it when it’s there. And, in
                order to take responsibility for the treatment, it’s good to have freedom to choose how you treat it,
                including the choice of taking medication.”
            </p>
            <p>Most people are open to that approach. What’s more difficult for a depressed person is intimacy with
                oneself and with others. As I mentioned earlier, it is counter-intuitive for someone with depression to
                go deeper into their pain. What they want is relief, and the sooner, the better. Because depression is a
                cognitive style, or way of thinking about oneself and the world, exploration of both thought and
                feelings is necessary. Depression operates best when it is hidden, to expose the thinking and feelings
                behind depression is to begin to heal from that depression.
            </p>
            <p>Sharing my emotional pain is not what I want to do when I am depressed. Rather, I want to escape my
                emotional pain and denial of said pain is pretty much automatic. To talk about my depression is to a)
                admit that it’s there, and b) to feel it, neither of which I’m inclined to do. It feels like it takes
                more energy to admit emotional pain than it does to repress it only because repression is unconscious.
                When I acknowledge emotional pain, I am very conscious of how much resistance I have to admitting it,
                and how much energy it takes to push through my natural resistance.
            </p>
            <p>This changes over time. The more open I am to be experiencing my emotional process, the less energy is
                needed to maintain repression and denial. Therefore, in the long-term, I have more psychic energy
                available to me when I am open emotionally. This can also be the case with writing about emotional pain;
                once I start writing I get more energy as I continue to write precisely because I am opening up
                emotionally, or, in today’s parlance, I am creating new neuropathways.
            </p>
            <p>The final intervention with depression that I want to discuss today is spiritual. I believe in a Power
                greater than myself and that Power I call Love. Love works both from the outside in and from the inside
                out, that is why so much of healing is about “letting go”. I believe we are created out of Love and the
                core of that creative Love lives on inside us. Therefore, the deeper I go spiritually and emotionally,
                the more I access Love’s inherent healing Power.
            </p>
            <p>It is also why it is so much more hopeful when a client tells me they believe in a Higher Power. I know
                then that the healing I can bring in the forming of the therapeutic relationship, is only a small
                reflection of the love that is trying to find expression in their core.</p>

        </div>
    </div>