<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 8 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            You Have Never Been Here Before
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 8</h3>
                <br>
                <br>
            </div>
            <p>When I was almost 50 years old, and had 100 days clean and sober, I had the realization that from age 16
                until age 50, I had never been free from drugs and alcohol for 100 consecutive days. The reality was
                that starting on day 101, I would be experiencing life as I never had before, that I did not know what
                it would bring in my new found sobriety.
            </p>
            <p>The truth was that every single day, going forward, was a brand-new opportunity for new experiences, for
                growth, for joy and for pain, for me to live a new life. No longer did I need to hide in the shadows,
                isolated, alone, and afraid. I was given this opportunity to live with a new consciousness, I was
                “waking up” and could continue to wake up a little more each and every day.
            </p>
            <p>What a gift it is to begin each day with hope, with a foundation of love, to recognize that “I don’t
                know” is exactly where I need to be. To be able to live this way is the meaning of being present, living
                through all six senses in the here and now.
            </p>
            <p>I had reason to remember my 100-day insight this fall. Beginning around the end of September, around my
                birthday. I started feeling the pull of my home state, Michigan. Now, I have not lived in Michigan
                since1983. I moved to Chicago, then New York, then back to Chicago, finally landing in Colorado in 1988.
                For reasons that were mostly a mystery to me, I needed to go home.
            </p>
            <p>The problem was the idea didn’t make all that much sense. I had it in my head that it needed to be a road
                trip, mostly because I didn’t want a 3-4 day trip with airfare, car rental, and limited time to be
                there. Even if I extended the trip to a week, it would cost too much money: the longer I was there, the
                more it would cost. And, maybe the biggest road-block: I couldn’t afford to take time off. I wanted at
                least a week and the only way that made sense was to drive…and work remotely for a week.
            </p>
            <p>The truth was I didn’t have enough money to finance a road trip like that, my car needed $1200 worth of
                work, and I have well over 100K milage on the car I wanted to drive, who knew if the vehicle would even
                make it? So, I tabled the idea, fully understanding that the trip might not work out, in fact, I was
                pretty certain that it wouldn’t work. So, I let it go. Sort of.
            </p>
            <p>With maybe a week before it couldn’t work at all, there was an opening. My car got fixed, money came in,
                my client’s indicated they would meet me remotely, my BFF told me she would make the return trip with
                me, and that I could work from her place on the lake, in short, a window of opportunity presented
                itself. But it was a brief window, I just needed to make a decision, so I did.
            </p>
            <p>I was going to Michigan, on a road trip, by myself. This whole process took on a surreal quality. I
                wasn’t exactly observing myself making these decisions, but I was very aware of numerous possibilities
                existing at the same time. And, little by little, decision after decision, the reality that I was going
                on a road trip became manifest. I finally knew I was going on noon Wednesday, I left at 5:00 am, early
                Friday morning.
            </p>
            <p>My therapist supported me taking this trip, and she asked me to look for signs during the trip. I took
                that to mean keeping an awareness that the spiritual world operates with symbols, and to be conscious
                enough to recognize symbols if they presented themselves. My goal, be present; notice the movement, the
                ever-changing landscape, pay attention to all my senses, including intuition on when I needed to stop,
                to eat in a restaurant, walk around a rest area.
            </p>
            <p>I was remarkably free from anxiety on the trip to Michigan. I enjoyed listening to whatever music moved
                me. One reason I wanted to take my car was it has a truly excellent sound system, and now I could play
                music as loud as I wanted and sing as loud as I wanted. For me, music = road trip. Music and perpetual
                movement go together, and I stopped for gas, food, etc. when I wanted. It was my party and I could
                listen to whoever I wanted!
            </p>
            <p>I drove to half-way through Iowa that first day, around 12 hours on the road. When I arrived in Des
                Moines, I started looking for a hotel room, finally finding a Best Western that looked decent. It was
                not, threadbare carpet and both the TV and the shower did not work. It was one of those hotel rooms
                where you didn’t want to take your clothes off, so I didn’t. But, it was a place to sleep and I was on
                the road early the next morning. The room made think of a flock of crows sitting in a tree, bitching
                about life.
            </p>
            <p>I started my final leg at on Saturday at 4:30a, a benefit of never getting comfortable in my hotel room.
                Traffic was weirdly heavy around Des Moines, and then again when I hit Chicago. I was starting to feel
                road fatigue by this time. I entered into the “road zone” where you are there but not there, not exactly
                disassociated, but close. So much for being present.
            </p>
            <p>I pulled into my friend’s (MJ) home mid-afternoon on Saturday, took a nap and met my daughter and her
                fiance’ for a lovely celebratory dinner that night. We celebrated their engagement and had a very
                honest, direct conversation about the state of my family. It was the beginning of a symbolic week for
                me.
            </p>
            <p>A note about Lake Michigan. I feel like I grew up on and in Lake Michigan. When I arrived at MJ’s I
                parked and had to walk around the house to go in the door that faced the lake. When I came around the
                corner of the house and got my first glimpse of the vast blue water that is Lake Michigan, I felt like I
                had arrived home. My body and mind immediately relaxed, the road faded away, and I entered into a
                different energy state, a state of peace that I don’t get anywhere else. I love the Lake.
            </p>
            <p>The truth and honesty spoken in the dinner with my daughter set the tone for all that was to follow. I
                came home from dinner and walked into a truly joyous hour or so with MJ and her daughter and son, both
                beautiful adult human beings in their own right. It helps that I’ve known them since they were infants,
                and we are bonded in ways I truly don’t really understand, like my “God-children” or something close.
            </p>
            <p>I think of my relationship with MJ as a kind of dance. When we see each other there’s a moment of
                remembering, remembering who we are and what we mean to each other, the first steps, and then the dance
                begins. We dance with ideas, conversation, and laughter, and we literally dance, like to music. It fills
                me with wonder, I am delighted to be a friend of hers for over 40 years. And MJ surrounded by her
                children, is MJ in a joyous place, a wonderful moment to share with her and her children.
            </p>
            <p>MJ’s hospitality was exceptional, allowing me to work from her space went above and beyond as far as I
                was concerned, and the days that I worked there went without incident. My question going into the week
                was could a “Zoom” session reach the emotional depth of an in-person session? I view the therapy hour as
                sacred space and wasn’t sure if that space could be created remotely.
            </p>
            <p>The answer was both yes and no, it depended on the client and our relationship. The longer the
                relationship, the better the connection, the more likely we were able to connect electronically. It all
                went surprisingly well, with the highlight being Wednesday’s sessions when I could work with a view of
                Lake Michigan. While I was working Wednesday afternoon, I caught a glimpse of an eagle flying above the
                trees, over the lake. A sign perhaps. Awe.
            </p>
            <p>My last evening there was healing in an unexpected way. MJ’s daughter, a psychotherapist in her own
                right, offered to “clear” my chakras. She works with energy and is skilled in a therapy called Reiki.
                Reiki is about energy, and the movement through the body, or energy centers in the body known as
                “Chakras”. It was a very spiritual experience for me.
            </p>
            <p>She had me lie on my back, close my eyes and she put on some spiritual music. Along with the music she
                began singing, a hymn of sorts, asking for my healing and to be able to clear my head, heart, and my
                core. There’s just no other way to put it, her voice was like an angel singing to me; pure, ethereal but
                grounded, uplifting in a way I can’t really describe.
            </p>
            <p>She began placing her hands on me, not quite touching me but I could feel this electric energy moving
                through her hands, into me. It was healing in a way I haven’t experienced before and I went into a kind
                of trance, aware only of her energy, her voice, the music, and a weight being taken from me. It was
                beautiful and something I will never forget. After she was finished and I came out of my trance state,
                she told me that she had cleared out like a “slimy” substance from my gut chakra, and, weirdly, I knew
                what she meant.
            </p>
            <p>The next morning MJ and I left for the return trip to Colorado. When I first arrived, I released MJ from
                having to ride back with me; if it didn’t work for her, I was fine with that. Ultimately, she decided to
                accompany me a couple days before we left. I was thrilled that she was going. We wanted to leave early
                enough Thursday morning so we could witness the sun rising and the full moon setting (at the same time)
                and we pulled out of her driveway while it was still dark. So far, so good.
            </p>
            <p>The sun came up and the moon went down, and we were on the road. A road trip with someone is way
                different from a road trip by oneself, much better so long as you love the person you’re traveling with,
                and, although I had never taken a road trip with MJ before, I knew, on some level, It was going to be
                good.
            </p>
            <p>We set off with the intention to be loving and present and, if by chance we failed that intention, we
                agreed to roll the windows down and yell until we cleared the negative energy. It worked, we danced with
                that intention as well, reminding each other when we went down the rabbit hole, then rolling the windows
                down and “clearing” (yelling at the top of our lungs) the space. It was a beautiful thing, our little
                reset button.
            </p>
            <p>My memory works with images, clear as a bell moments, symbolic though, frequently with music accompanying
                the visual. In my mind we are driving down into a valley where Kansas City sits by a river. MJ finds
                “Going to Kansas City” (thank you Apple Music) and turns the sound system up as loud as you can get it,
                “Goin to Kansas City, Kansas City here I come, they got some pretty women there and I’m a goin to get me
                one…”
            </p>
            <p>Mary Jo and I singing at the top of our lungs, “going to Kansas City…” Beautiful.
            </p>
            <p>The other way I remember is through a narrative, a story that captures many hours of conversation. We
                talked a lot about love, love over time, friendship love, romantic love, Agape love, love as a Power and
                Force in this world. We talked about our relationship. I always feel intensely vulnerable when I’m deep
                into a conversation with someone I love and we bring our awareness into the now.
            </p>
            <p>How is it that I experience love as so very fragile and vulnerable, while I also know that it is the most
                -powerful force in the universe? I guess that is a paradox but, it feels more beyond my ability to
                understand than just calling it a paradox.
            </p>
            <p>If E=MC-squared, then to me, love = infinite energy. It never ceases to exist, it lives outside the
                constraints of time and space. It is vast, powerful, and gentle as a rising tide.
            </p>
            <p>Once into Kansas there were these huge, white, wind turbines, dotting the landscape, usually in a
                north-south array, the prevailing wind flow perhaps. They were strangely hopeful given that Kansas is a
                decidedly conservative state. Their state motto should be “Conservative, not Stupid”. I am surprised
                that humans build these strangely awkward, but beautiful, white, dancing sculptures, over the low,
                gentle swales of Kansas no less.
            </p>
            <p>Finally, we end our journey with the best part...a Dance Party!!! Dance parties did occur, at least 4-5
                times, in a vehicle moving at 82.5 mph, with music (and beat) blasting through speakers, while two
                grown-ass human beings literally danced in their seats. It was completely silly and the best fun ever!
            </p>
            <p>The trip has distilled into several moments for me, moments when I was completely present, singing,
                dancing, laughing. Sacred space, God moments. `
            </p>
        </div>
    </div>