<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Blog 6 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Silver Linings
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Monthly Blog 6</h3>
                <br>
                <br>
            </div>
            <p>Not every dark cloud has a silver lining, but it’s been my experience that many do. It may be years after
                a bad or negative event occurs before I can identify something good that came out of something bad, but
                that is not the case with what I want to write about today. In this case, the negative event is still
                very present, impacting my life every day, and the silver lining is growing.</p>
            <p>In mid-July of this year, I started developing neuropathy. Neuropathy is a numbness and tingling, usually
                in the extremities, in my case it started with numbness in my hands and feet and then spread to my legs.
                I had already been dealing with fatigue that never went away after a bout of covid in March. That was
                bad enough, but then my balance went bad and I started falling unexpectedly. I saw my Primary Care
                Physician (PCP) in August and he put me through a battery of balance tests, which I failed
                spectacularly.</p>
            <p>Before I really registered what was happening to me, I needed to purchase a cane just to keep from
                falling. When I told my siblings what was going on, my brother reported that his mother-in-law had
                suffered with neuropathy and that it resulted in her walking “like a drunken sailor”. That pretty much
                captured the visual impact neuropathy had on my gait. I have always prided myself on being relatively
                fluid in my movements. Not any longer, now I lurch about, almost falling multiple times, even with a
                cane assisting me.</p>
            <p>What I thought would have a big emotional impact was not being able to play golf. I tried to play,
                multiple times, but my lack of balance was especially evident when I attempted to swing a golf club. In
                the end, it just wasn’t fun anymore and only reinforced what I had lost. So, I stopped playing, and to
                my surprise, that was ok, not great, but ok. My loss there might be tempered by my hope that I will get
                better. I think it would hit harder if I believed I’d never play again.</p>
            <p>Then a series of events opened me up to something else, something unexpected and wonderful. First, my
                close friend John’s father died, a man I had known and was very fond of, after that I learned that a
                friend of mine was very sick, and I was told by several friends to call him. I put this off,
                unconsciously, for several days until it came to mind when I had some time. I called him and we talked
                for a while that day and I learned from him that he was very, very ill and did not have a good
                prognosis.</p>
            <p>After I hung up the phone, I realized how much I loved my friend and the cumulative grief of the
                possibility of losing my friend and the death of my close friend’s father hit me and I wept for a while.
                I am always surprised when grief hits. Somehow, my conscious mind doesn’t register that grief might be
                coming. I was listening to a woman who had a significant trauma history being interviewed the other day
                and she said when you go through tragic events, or loss, you can either open your heart to the pain, or
                close your heart and cut off your attachments.</p>
            <p>There have been times when I have shut down around grief, most of those times have been in active
                addiction. Since I’ve been clean, I can’t remember ever consciously shutting down grief, but like in the
                case with my ill friend, I have certainly avoided feeling sad. And wanting to change the way I feel is
                so central to my addict self that there’s a part of me that’s always avoided difficult feelings,
                conscious or not. That’s all to say that I have found relief in allowing grief to move through me, and
                feeling my grief in a communal setting has deepened and strengthened my attachments.</p>
            <p>At some point in this current illness I became open to listening to what others were saying to me and
                willing to follow suggestions. This is no small thing for a recovering addict, we are known for
                rebelling against authority, and, in general being very willful human beings. Maybe it was a sense of
                desperation or being aware of my need for others, in any case, when my dear friend Dawn suggested I
                might want to go to this year’s regional 12-step convention to hear another dear friend who was the
                key-note speaker Friday night, I agreed to go.</p>
            <p>I had not been to a 12-step convention in a very long time, since before covid for sure, and many years
                before that. It had been long enough that I had forgot the communal spirit, the incredible energy of
                love, joy, and gratitude that infuses these meetings. It had also been long enough that I was feeling a
                good deal of social anxiety on the day of the event. I asked a couple other recovering friends if they
                would accompany me and had no luck there, so it was just me when I pulled into the convention center.
            </p>
            <p>I sat in my car in the parking lot texting Dawn, and another friend who I knew was there so that I’d have
                someone I knew when I walked into the crowded registration area. After registering I found several of my
                friends in one of the smaller meeting rooms listening to a presentation about surrender. It was not lost
                on me that the first message I heard was about surrender. For me, listening to other’s feedback and
                suggestions is all about surrendering my will. So there I was, sitting in a meeting, listening to
                another recovering addict talk about surrender, and as I sat there I could feel my anxiety slowly
                decreasing.</p>
            <p>After the meeting I met Dawn and several other friends and we all went out to dinner. I was starting to
                notice and take in that people seemed genuinely happy to see me. I would think that after many years
                clean, and even more time around this recovering community (close to 30 years!?!) I would know that many
                people like and even love me, but it still surprises me. When my social anxiety is up, I’m in protection
                mode and prepared to defend myself from any perceived rejection or judgment. It was starting to dawn on
                me that I was among friends, that I was safe, that I didn’t need to be in protection mode.</p>
            <p>Much of that awareness started when I saw Dawn. Her acceptance, self-deprecating humor, and gentle
                teasing of my neurotic process quickly defused my fear. Is there anything better than reconnecting with
                a dear friend? I think not. But I also noted Dawn’s genuine concern about how I was doing, her questions
                about my physical and emotional health were caring and very direct. You know that feeling when you are
                really seen? Dawn sees me, even when I am guarded and afraid, and she introduces humor when I am taking
                myself much to seriously. Thank God.</p>
            <p>There was a time in my life, from childhood until middle adulthood really, when almost all of my close
                friends were women. It started with my sister Barb, who is ten years older than me, loving me from the
                time I was born to the present day in a way my mother just wasn’t capable of doing. Her love and support
                was so fundamental to me that I really didn’t realize how core it was until middle age.</p>
            <p>I knew (sort of) that my three older brothers loved me, but their love was more challenging, and didn’t
                feel as safe. I became closer to the women they married. Tom married Wilma, and Tim married Edna, and
                Mike married Debbie, not long after. These women came into my life when I was around 5 -7 years old.
                They understood how unstable my mother was, and each freely gave me a platform of unconditional love
                from which to grow, underneath their wry and watchful gazes, laughing a lot and recognizing that here
                was something to want. Without Barb, Wilma, Debbie, and Edna, I would not have survived my childhood.
            </p>
            <p>All of these women recognized the depth of my need for love, for nurturing and care, and they responded
                with love. Indeed, two of the biggest losses of my life occurred when Edna died just as I turned thirty,
                and then Wilma passed away when I was in my early 40’s.</p>
            <p>That’s all to say that I have been blessed with many female friends and sisters, but in the last 20-30
                years my support system has become decidedly more male oriented. And that’s a good thing. But I still
                have my sister, and my sisters-in law, Debbie and Gail, and I love them all dearly, I have my spiritual
                sister Mary Jo, who has taught me about self-care, and I have been married for the last 10 years to a
                woman who has taught me most of what I know about love, and then there’s my close friend Dawn.</p>
            <p>Dawn is incredibly smart, wise, an accomplished writer, a great teacher, an awesome mother and
                grandmother, has lived more of her life clean than otherwise, and, other than my wife, my closest,
                dearest female friend. Oh, and she’s also beautiful, so much so that I had a huge crush on her for many
                years before we became good friends, and she’s one of those women who becomes more beautiful the older
                she gets. Her spiritual light just gets brighter and that light shines through her eyes and face.</p>
            <p>After dinner, we were getting in my car to go back to the convention when Dawn noted how little I ate at
                dinner, and asked again how I was doing. And again, I was struck by her concern and love for me, to such
                a degree that I had to suppress an urge to start bawling right there. The truth was the food wasn’t all
                that great, and, because I have a surgically reduced stomach, I just can’t eat large amounts.</p>
            <p>We got to the convention center and found our seats in the very large ballroom – right in front as my
                friends are apt to do. Right behind us was a man who, intentionally or not (probably not) had shamed me
                after I shared in a meeting a month or so before. Dawn informed me that he was right behind us and
                offered to “take him out” if I so desired. That was good for a laugh and, again, I was struck by her
                care for me.</p>
            <p>Our friend did an awesome job talking about his recovery journey and the 12-steps. I was struck by how
                good he was, and, instead of my usual envy and desire to be the one in the spotlight, I was proud of
                him. Proud of him and proud of my community, proud to be a member of my fellowship, and so grateful to
                be “a part of” this huge community of recovering souls, and to experience the love and energy a big
                group of recovering addicts generates. It was awesome!</p>
            <p>The next day I went to watch a football game with my ill friend and a couple of other friends. Walking up
                the stairs to the door I lost my balance and fell backwards, luckily I set down the food I had brought
                as I fell, and I didn’t hit my head or injure myself. I mentioned the fall during the course of the
                evening and when I was leaving another close friend walked me out to my car to make sure I was ok.</p>
            <p>Again, I was struck by his concern and care for me. It caused me to reflect on the whole weekend. I felt
                so…cared for and loved. I cried a little on the drive home and my tears were tears of gratitude, not
                sadness.</p>
            <p>These experiences resulted in me thinking more about love, and, I sincerely hope, becoming more loving in
                my day to day life, with the people close to me and strangers alike. My spiritual mentor Dano said once
                that love is an inexhaustible resource. Inexhaustible. When I call on love, when I express my love to
                those I love, I am not depleted, I don’t lose anything. Instead, I am enriched, energized, and, maybe
                the most spectacular thing, I seem to receive more love in return, and then have more love to give, and
                it goes on and on. Love multiplies exponentially.</p>
            <p>I believe that our “true self” or, our soul or our spirit, responds and is activated by love. The more we
                surrender to love, the more we become who we truly are, and I believe that we are, ultimately, an
                expression of God’s love. I have said before that I am a mystery to myself, just as the people I love
                are, ultimately, as mysterious to me as the strangeness of this life. What a wonderful gift this life
                is, healthy or not. Make no mistake, I hope with all my heart that I get well, but this gift, this
                growing awareness of the Power of Love is a gift beyond my wildest dream. It’s more than a silver lining
                in a dark cloud, it’s the Light that evaporates all the clouds.</p>

        </div>
    </div>