<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Chapter 1 | John A. Otte</title>
    <div class="my-5 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Do Your Work: Chapter 1
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Abandonment</h3>
                <br>
                <p class="text-center">1</p>
                <br>
            </div>
            <p>The Psychology Board met the Thursday I left for Crestone. On the docket was the case of John A. Otte,
                Psy.D., and they were to determine whether to release me from three years of monitoring and supervision.
                I wanted to be free. I had completed the multitude of requirements, as well as probation for two felony
                charges for forging prescriptions for Ritalin, charges that were dismissed after I completed probation.
                I felt that I had paid my dues.</p>
            <p>I had completed six months of Intensive Outpatient Treatment, weekly individual therapy, daily Narcotics
                Anonymous meetings, and weekly random urine samples, all to insure I was staying clean. The Board
                mandated that I complete all treatment, and continue psychotherapy, but the main intervention, from my
                perspective, was intensive supervision of my work, both at the hospital, where I did psychological
                evaluations, and in my private practice, where I saw clients for therapy. In the meeting that Thursday
                they were to decide whether to release me from continued supervision or require two more years of
                monitoring.</p>
            <p>It was a big deal. It meant freedom for me. It meant the end of the consequences, legal and professional,
                from the day, May 5th, 2005, when I was arrested at the Target pharmacy for trying to fill a forged
                prescription for Ritalin. I am a drug addict, my treatment, or, more accurately, my recovery, from the
                disease of addiction will never end. I knew that then and I know that now, but freedom from the Board
                looking over my shoulder could end that day.</p>
            <p>I was at Crestone for a four-day spiritual retreat at the Nada Center, with my close friend John. The
                Nada Center was a retreat center run by the Carmelite order. The staff there included a priest, Father
                Eric, and two female monks, Suzie and Connie, three of the most beautiful, kind, and joyful people who I
                have ever met.</p>
            <p>They have since sold the retreat center, but back in 2010 they maintained the center and held weekly mass
                for the locals in a beautiful little chapel on the grounds. The center consisted of a main building with
                a big kitchen, a big room lined with full floor to ceiling bookshelves, a long dining table, and enough
                room to have group meetings. I have run several spiritual retreats in the years since that trip in 2010,
                and we held our groups in that main room. I have felt the Spirit move through that room, on the wind.
                The main building is connected via a short bridge to the chapel.</p>
            <p>On the grounds of the Nada Center were 10-12 small hermitages, where retreatants sleep during their stay.
                The hermitages are small, adobe buildings that consist of a small bedroom, with a single bed, a small
                functional kitchen, a sitting area, and a bathroom. They have plenty of windows to let in the high
                desert light, and a wood stove for heat in the cold desert nights. The hermitages are arranged on the
                grounds so that when you are in your hermitage you don't see any other buildings, giving you the
                sense of solitude in the beautiful high desert. Deer wander through the grounds, reinforcing the sense
                of being in the wild, and at night you hear the coyotes howl and bark.</p>
            <br>
            <p class="text-center">2</p>
            <br>
            <p>Crestone is thought to be situated on a psychic energy vortex. It is a very small town of around 100
                yearly residents, several hundred more come there for the summer months. It is not easy to get there,
                there are no interstate highways close by, no ski areas, and other than a few struggling restaurants, a
                small grocery, and a hardware store, no real commerce.</p>
            <p>Crestone sits up against the western face of the San de Cristo: the blood of Christ mountains. When the
                sun sets, the mountains are bathed in red light, hence the name. If you look to the south from Crestone,
                you can see the mountains of sand of The Great Sand Dunes National Park. The only town of any size near
                Crestone is Alamosa, an hour drive south, which is where the locals go to buy groceries, and get medical
                care.</p>
            <p>The story of Crestone is that a widowed woman owned a large amount of the land in and around the town.
                After her husband died, she offered to give parcels of land to any legitimate religious community who
                wanted to develop a retreat center. And they came, all the major religions of the world are represented
                in Crestone. There are three Buddhist communities, a Hindu community, a Muslim community, and, back
                then, the Nada Center, a Christian community.</p>
            <p>The fact that this small, out of the way town, has multiple retreat centers for most of the major faiths
                seems to give credence to the idea that there is something going on in the unseen realms. This is
                reinforced by my personal experience. There is energy there. I am not one to easily believe in
                "energy vortexes", however, I have witnessed and experienced transformative spiritual and
                emotional energy there. This energy is not blissful, it's not a "feel good' energy, it
                defies characterizing as either good or bad, it just is.</p>
            <p>I was very much aware of the energy moving through Crestone when I arrived that Thursday. It was the
                second or third time I had stayed at the Nada Center and my past experiences had taught me to limit my
                expectations about what kind of retreat I would have that weekend. When I first came to Nada for a
                retreat, I anticipated a quiet, restful, spiritual renewal, a time where I would get closer to nature
                and closer to God. And, while I did rest, and I did get closer to nature, and, looking back, I did get
                closer to God, it had not been peaceful, far from it.</p>
            <p>I learned that my emotions were "up" when I stayed there, emotions that were on the edge of
                my consciousness, were brought into sharp focus. Memories and feelings that I consciously, or
                unconsciously, repressed, surfaced in ways that demanded my attention. I had felt deep sadness over
                losses in my life, grieved the tragic death of my brother, and mourned the self-inflicted losses that
                addiction had caused me. So, in many ways, I was prepared to have a challenging weekend, but nothing
                could have prepared me for what happened my second night there.</p>
            <p>The first evening at Nada was uneventful, we arrived in the late afternoon, got situated in our
                individual hermitages, and had a quiet dinner of soup and bread. We talked a little about what our hopes
                were for the retreat, talked about God and expressed gratitude that we were able to take the time for a
                retreat, and that we were able to do it together. John is a close, dear friend, he was my first sponsor
                and our friendship developed out of that experience.</p>
            <br>
            <p class="text-center">3</p>
            <br>
            <p>We share a passion for golf and because our connection began in recovery, there is a spiritual foundation
                to our friendship that I treasure. We talk about God, faith, and our ever-evolving relationship to our
                Higher Power. He is there for me, and I am there for him, and we both know that, if needed, the other
                would show up for the other, no matter what. I think we have both learned about male intimacy through
                our relationship, and, although we are not related by blood, he is my brother, and I am his.</p>
            <p>On our first full day at Nada, we got oriented to life at a retreat. Cell phones lose their priority,
                there is no TV, limited access to the internet, and it is quiet, incredibly quiet. We took a hike in the
                mountains and gave each other space. I spent my time reading, meditating, and doing a little writing on
                my step work. I tried to let go of my obsessing about the Board's decision. I was very aware that
                my fate had been determined by then, a decision had been made, I just didn't know, nor could I
                know, until Monday, what had been decided. We ate separately that evening and decided to connect
                Saturday morning for coffee. I had a small meal for dinner, did a little recreational reading and fell
                asleep in my single bed before 10 pm.</p>
            <p>I woke up full of fear and dread in the middle of the night. Impenetrable darkness surrounded my
                hermitage, something was watching me, I felt it's gaze on me, and I scanned the darkness outside
                the window, certain I would see a pair of eyes looking back. There were no eyes but that didn't
                lessen my fear. I realized I was on my hands and knees on the floor by my bed and slowly, grabbing the
                bedside table for help, stood. I was stiff and sore and as I stood; the last few hours came back to me.
                It was 3 am, the darkest hour of the night.</p>
            <p>I was having a pancreas attack; a sharp, radiating pain in my gut that literally took my breath away. I
                remembered I was at the Nada Center, and that I was there with John for a spiritual retreat. We each had
                our own hermitage, I stumbled down the steps to the sitting area and dropped to my hands and knees, as
                that was the only position that afforded me relief from the all-consuming pain. I was rocking back and
                forth, and as the pain subsided, I fell asleep. I woke up filled with terror. I must have turned on a
                light when I came down the stairs as the interior of my heritage was brightly lit, making the contrast
                of the darkness in the windows even more stark.</p>
            <p>The fear was consuming me, and, as my consciousness slowly returned, the terror became more intense. I
                scanned the darkness again, there was nothing there. That did nothing to lessen my feeling that
                something was there, wanting to harm me. I told myself that I was ok, and that I would be ok. But it
                felt like a whisper in the face of a gale force wind. I felt so utterly alone, and that this aloneness,
                this isolation, was never going to end. There was nowhere to go, no escape.</p>
            <p>I realized I was weeping, tears streaming down my face. I started to sob and through my tears and snot
                heard myself say "God, please, please help me". I repeated this like a mantra, reducing the
                prayer to "please help me, please help me".</p>
            <br>
            <p class="text-center">4</p>
            <br>

            <p>I don't remember sitting down in the recliner next to the woodstove, but I must have, because that
                was where I woke up several hours later, the soft pre-dawn light filling the room. I took in the beauty
                of the pink sky over the peaks of the San de Christo's as I shuffled my way back to my single bed,
                and as I fell asleep my heart was at peace.</p>
            <p>The next morning, after my ordeal the night before, my anxiety was gone. I could remember the fear, like
                I can remember the fear while I write this, but the deep terror I had experienced was gone. Today, ten
                years later, I understand that I experienced abandonment that night, at a level I had never felt before
                and have never felt since. My core level of abandonment, something I had lived with since I was an
                infant, was taken from me, replaced by a felt sense that I was not alone, and that I was safe.</p>
            <p>I tell my clients that abandonment is an easy word to say, but a terrifying experience to go through. The
                following is the true story of one of my clients, names have been changed to protect identities.</p>
            <p>Steve</p>
            <p>A sound woke him up, but once awake he couldn't tell what the sound was or where it came from. Was
                it the creak of the floorboards, or a door closing? He couldn't tell, and now a familiar panic was
                rising in his chest. She wasn't home, he could feel it, he still managed to utter
                "mom?" The sound of his voice, weak and quavering, intensified his fear. There was no reply,
                she wasn't home, his mother wasn't home.</p>
            <p>His room was dark except for the nightlight in the corner, and light from the hallway. The weak light
                cast weird shadows on the walls and the ceiling, and he tried not to look at them for fear they would
                move and reveal someone or something in his room. "Fuck", he whispered. Even at age 8 he
                knew what the word meant, and he had a small satisfaction in swearing at his circumstance. It
                didn't last though, his panic was intensifying.</p>
            <p>Earlier that evening she had seemed ok. She was drinking wine, but she hadn't had too much by the
                time he went to bed, and she had promised that she wasn't going out that night. He didn't
                trust her, but he wanted to believe her, it was the only way he could go to sleep, and the last few
                nights she had stayed home. Two nights ago, she had her new boyfriend over, Brad, or Barry. He was nice,
                he had given him a baseball, told him that it was a fly ball from Wrigley Field. Steve didn't tell
                him that he hated the Cubs, that he was a White Sox fan, he wanted the baseball, so he just said thank
                you.</p>
            <p>Later that evening he was in bed, and he could hear them in his mom's room, making the sounds that
                adults made when they did what adults do. He knew that they were having "sex" but he
                didn't like to think about his mom doing that, so he didn't. He heard Barry or Brad leave
                after that and his mom stayed home the rest of the night. That was good and she stayed home last night
                too. He could smell the funny smoke smell, different from the cigarette smell, later that night, but he
                didn't care, as long as she was home. She had smoked tonight too, and that usually meant she was
                home for the night, so he could relax a little bit. But now she wasn't here, and he was home,
                alone.</p>
            <br>
            <p class="text-center">5</p>
            <br>
            <p>He tried to think about baseball, pretending he was the pitcher in the ninth inning, the closer. He
                imagined going into his windup and firing a strike over home plate, the batter swinging and missing. But
                then he heard another creak in the floor and he came back to the dark apartment. Was someone in the
                apartment with him?!? Was that what woke him up? His heart was beating fast now, and he was trying to
                catch his breath, and, shit, he had to pee, bad!</p>
            <p>He mustered all the courage he had and shuffled to the bathroom to pee. He had no choice, he had to go.
                He didn't see or feel anyone in the apartment, so his breathing slowed a little bit. He ran back
                to bed and got under the covers. He tried praying to Jesus, praying that his mother would come home and
                before he knew it, he was back asleep, dreaming about baseball.</p>
            <p>Steve remembered that night while he was lying in bed. His girlfriend had just left, right after they
                made love, and he was feeling the abandonment in his chest. He hated it when she left and went home
                after they had sex. He understood why she left, it was her week with her daughter, and she never slept
                over during that week. But understanding it didn't help the feeling that he was abandoned, once
                again.</p>
            <p>The feeling started in his chest and spread. His heart rate increased, and he felt the fear, bordering on
                panic, the fear that he was alone and something bad was going to happen. Lately, he'd started to
                have memories accompanying the fear, his therapist said this was normal and part of the work. But
                knowing it was part of the work and living it were two separate things, and living it sucked, big time.
            </p>
            <p>He never had this fear with his former wife, which was another weird thing about it. In fact, he
                couldn't remember ever feeling it as intensely as he did before he got involved with his current
                girlfriend. His therapist told him that the more intimate he was with his girlfriend, the more his shit
                would come up. So maybe that's what was happening. Still, it didn't help him with his
                current feeling. He tried meditating, focusing on his breathing, but it was really hard to keep his
                focus. Finally, he remembered to accept the feeling and go into it rather than repress it. That must
                have worked because he fell asleep.</p>
            <p>Steve's current relationship was as deep as any relationship he ever had, period. He was crazy in
                love with her, and she seemed crazy in love with him. They had met in group therapy. There was an
                instant chemistry between them but they put it to the side because they were in therapy and needed the
                group, and they were both married. But then they went on a retreat with the rest of the group. The
                retreat was in Crestone, Colorado, a small, out of the way town in western Colorado..</p>
            <p>It was a very powerful retreat, for both of them. A turning point for Steve came at Mass Sunday morning.
                The priest, Father Eric, talked about how some relationships end in divorce and that divorce, in modern
                society, was not a mortal sin. That, in fact, some divorces were necessary given the level of conflict
                and pain generated in the relationship. Steve, a Catholic, was blown away by the message. It was
                disorienting. Father Eric said that divorcing, while not encouraged by the church, was not condemned
                either.</p>
            <p>Angie, his soon to be girlfriend, was already separated and moving towards divorce. Steve saw a glimmer
                of hope that weekend; maybe they could be together. Was it too much to ask? Could he start a</p>
            <br>
            <p class="text-center">6</p>
            <br>
            <p>new family unit, one based in love, not competition and petty power struggles? It felt like too much at
                the time, and, in fact, there have been times it seemed like a fantasy that would never be
                realized.</p>
            <p>Despite the powerful love and connection between Steve and Angie, she had a need for autonomy and
                independence that could not be denied. Her need was so strong that she moved west to be closer to her
                family and get a fresh start. This was devastating to Steve, and resulted in the relationship ending for
                a while, really ending. But then, after he had truly let it go, she moved back to be with him. Real life
                never quite matches our fantasies and Steve and Angie have plenty of work to do, but they truly, deeply,
                love each other and that makes anything possible.</p>
            <p><br></p>
            <p>Abandonment continues to be a theme for Steve although he has done important and powerful therapy work
                around that dynamic. It is sometimes difficult for us humans to realize that while we heal from our
                emotional trauma, like abandonment, the wounds do not magically disappear. There always seems to be
                another layer to unpack as we go through life, especially with abandonment.</p>
            <p>I frequently tell my clients that love is also about loss. Some of us refuse to love because, deep down,
                we know that, in the end, either we will leave or we will be left, if not in life, then in death. This
                is inevitable, and, deep down, we know this to be true. We are faced with a choice; do we love and lose?
                Or do we refuse to love and live a shallow, defended life? Steve chooses to love, and I am very proud of
                him for that. And sometimes, as is the case with Steve and Angie, thing do work out in the end.</p>
            <p>I sometimes ask my clients; do you want to live an emotionally full life? Or would you rather live an
                emotionally restricted life? I've only had one client, in over thirty years of practice, say that
                he wanted to live an emotionally restricted life. He didn't last long in therapy, because therapy,
                at least the way I practice it, is about expanding emotional experience. Emotion is energy, and if we
                restrict emotional expression and emotional experience, that energy is blocked and diverted. Emotion
                still finds expression, because energy will always find a way to be expressed, just not in ways that are
                conscious. For men, this may mean a bad temper, or having their anger hurt those closest to them, and
                thereby push them away.</p>
            <p>Abandonment is an emotional experience. Since my abandonment experience, I have used it to explain both
                the experience of abandonment in real time, and the way that Power assists us in the "working
                through" of fear and pain, the way we are healed. When I went through my middle of the night
                experience, I had no idea what was happening. I know now that it was for a reason, and when I think
                about it today, the reasons are clear; I re-experienced my early childhood abandonment to be healed and
                to be able to help others.</p>
            <p>Having been trained from a psychoanalytic orientation, I don't tend to share much about myself
                during the course of therapy, but there are exceptions. The exception is when it can help the client,
                and that experience has proven to be helpful, over and over again. The reason why it is helpful has to
                do with the intensity of the experience, and the reality that abandonment can be healed.</p>
            <br>
            <p class="text-center">7</p>
            <br>
            <p>Abandonment is experienced as a life-threatening emotion, and, the intensity is very often over the top,
                out of proportion to the event that triggered it. I have found that it is helpful for the client to know
                that their therapist has worked through an emotion as strong as abandonment, and that it is possible to
                be healed at a deep level.</p>
            <p>I tell my clients, the ones that are open to the idea of a Higher Power, that the Power is Love. And Love
                is working to heal us all the time. Our wounds are not magically removed, at least not in my experience.
                Going through an abandonment experience like I did, strengthened my sense of self, I discovered that I
                was strong enough to experience intense emotional pain and come out the other side stronger, more
                integrated.</p>
            <p>This book will be about experiencing and integrating emotion. As a therapist, I have worked with men and
                women my whole career, and I have found that, in general, women are better able to express and process
                feelings. While this is a gross generalization, I believe it is also true, and I believe that some
                men's refusal to process their emotions is a destructive force in the world that results in an
                exacerbation of addiction, physical and emotional abuse, and unnecessary trauma.</p>
            <p>As previously noted, emotion that is not experienced and integrated still finds expression. Take the
                emotional experience of dependency for instance, Dependency is often based on a fear of loss, or fear of
                abandonment. A man who has not recognized or acknowledged his abandonment fear usually expresses that
                fear by attempting to control his significant other. His attempts at control force his significant other
                to hide and subvert their normal, healthy autonomy strivings.</p>
            <p>Frequently, when we experience someone trying to control us it strengthens our need to be separate, and
                those very strivings increase the man's need to control. A vicious cycle is then created; the man
                attempts to control, the significant other pulls away, the man's controlling behavior escalates
                thereby increasing the withdrawal of the other, etc. until there is a crisis or an angry confrontation.
                In the abuse cycle, the "blow-up" which is sometimes violent, leads to a reconciliation and
                the pattern repeats.</p>
            <p>The man's fear is expressed as anger and that anger can be very abusive. The emotional energy finds
                expression, just not in a constructive way. The pattern described above can go on for years, decades
                even, I've witnessed this multiple times. The solution is for the man to own and verbally express
                his dependency and his fear of loss. This requires the willingness to be vulnerable and, sadly, the idea
                that strength equals never being vulnerable persists in today's world as a form of masculinity.
                The opposite is true, it takes enormous strength for a man to be vulnerable.</p>
            <p>On one level I am amazed that this is still an issue, that there is still a belief in many men, young and
                old, that to feel and express emotions is weak. This is a false belief, there is nothing stronger and
                more masculine than a man who owns and shares his feelings. That process, allowing oneself to feel and
                express emotional pain, is maybe the bravest thing a man can do.</p>
            <br>
            <p class="text-center">8</p>
            <br>
            <p>In this book, I will tell the stories of some of the men and women I have worked with, and some I have
                known; people who were brave enough to confront themselves and challenge the idea of what it means to be
                a human being in this young century, people who I have worked with individually and in a group setting.
                People who, through their sometimes painful, emotional work, learned how to be responsible, integrated,
                and spiritually whole human beings.</p>
            <p>People who were brave enough to do their work.</p>
            <br>
        </div>
    </div>