<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Chapter 4 | John A. Otte</title>
    <div class="my-5 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Do Your Work
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Chapter 4 - Complicated Grief</h3>
                <br>
                <br>
            </div>
            <p>
                In complicated grief there are unresolved issues with the deceased. Instead of the direct emotional pain
                typical of uncomplicated grief, one is left with a potent stew of feelings, feelings of loss, yes, but
                also anger, fear, remorse, regret, confusion, etc. I am making a couple of assumptions here; first, that
                there is attachment, there is no grief without attachment, and second, that the attachment was not
                primarily positive. For whatever reason, the negative aspects to the attachment were not worked through
                prior to the person’s death. Perhaps there wasn’t an opportunity to “clear the air” with the person, or
                as was the case with my brother Tom, the death was sudden and unexpected.
            </p>
            <p>
                My brother Tom was murdered on April 4, 1999. It is difficult to write the word “murder”, a part of me
                thinks it’s too dramatic, but I suspect my real resistance to the word has to do with the trauma
                associated with his death. I remember getting the phone call from Gail, my sister-in-law. It was late
                afternoon, and I was standing in the kitchen talking with my son Jef when Gail called and gave me the
                news. My first response was shock and confusion. I heard the words she was saying but it was as if my
                brain stopped processing when I heard that Tom was dead. To this day I feel bad that my son was there to
                witness the phone call and my response.

            </p>
            <p>
                After getting the news, arrangements had to be made to fly to Hartford, CT, where Tom and my brother Tim
                lived. Tim was a couple years younger than Tom and to say they were close would be an understatement.
                The family story is that Tom talked for Tim until Tim was almost 5-yrs-old. They were only separated for
                short periods during Tom’s life; when Tom enlisted in the Navy, and when Tom and his new wife, Wilma,
                moved to Princeton, NJ, so Tom could attend seminary at Princeton University. Tim and his wife, Edna,
                followed Tom and Wilma east where Tim attended Wesleyan University, getting a master’s degree in
                history. Eventually, as previously noted, they all lived together, but when Tom was killed, they were no
                longer living together.

            </p>
            <p>
                Tom was fairly well known in the city of Hartford, partially because he was an assistant pastor at a
                large inner-city Presbyterian church for many years, and also because he took recently released convicts
                into his home and helped them adjust to life outside of prison.

            </p>
            <p>
                Tim was also well known because he had a restaurant, “Timothy’s”, in Hartford, and for over 20 years
                reporters from “The Hartford Courant” ate there, as did the police. Tom’s murder was big news in
                Hartford, because of the above and also because Tom had bought a condo in a transitioning, mostly
                minority neighborhood, and a white man being murdered in that part of the city was news. And the news
                wasn’t pretty.

            </p>
            <p>
                My brother Tom was an alcoholic addict, in and out of recovery for the last 10 years of his life. At the
                time of his death, the family assumed he was clean and sober and going to AA meetings. What they didn’t
                know, indeed, what nobody but Tom knew, was that he was in a “binge” cycle with drugs and alcohol. He
                had been on a two-day crack (cocaine) and alcohol binge prior to his death.

            </p>
            <p class="text-center">
                22
            </p>
            <p>
                Typically, Tom would pick up a young, sexually ambivalent, minority male and party with him. This would
                eventually lead to a sexual encounter, at least if Tom had his way. The night he died, Tom was found
                naked, and stabbed over twenty times. The story of what happened wasn’t difficult to put together; after
                “partying” with a young man for over twenty-four hours, Tom went into his bedroom and when he emerged,
                several minutes later, he had taken all his clothes off. The young man most likely had what they used to
                call “a homosexual panic” that quickly turned into rage. He viciously attacked a surprised and terrified
                Tom, killing him within minutes.

            </p>
            <p>
                After Tom was discovered by police, they called my brother Tim to the scene to identify the body. To
                this day, I do not know why they called him to the scene. I do know that Timothy was traumatized by the
                process, he told me once that he will never forget the look of terror on Tom’s face. In deference to my
                brother Tim, the reporters at the Hartford newspaper kept the details out of the press report.

            </p>
            <p>
                Nevertheless, when I arrived several days later there were TV vans parked outside my brother Tim’s
                house. I don’t remember a lot about the funeral, mostly I remember the grace that seemed to infuse the
                process and somehow kept us all afloat. Tom’s death created a complicated grief response for most of the
                family, me included, but it was worse for his children.

            </p>
            <p class="text-center" style="font-weight: bold;">
                Sarah
            </p>
            <p>
                She lost her mother two years before. There was some warning for that loss, not that it made it any
                easier. It was her mother’s second bout of breast cancer. The first involved a mastectomy, chemo, and
                radiation, the usual, miserable regimen of treatment that appeared to cure her. Cure, however, is a
                relative term when it comes to breast cancer. Breast cancer is sneaky and diabolical, and after a short
                reprieve, it came back. At first there was hope, she had beaten it before, right? Why shouldn’t she beat
                it again? She certainly had the will to live and a lot to live for, a new grandchild on the way, and a
                newfound freedom and comfort in herself and who she was. She even appeared to be getting some separation
                and distance from her husband Tom.

            </p>
            <p>
                Tom took care of her through the first bout of cancer, and they had a comfort with each other that only
                a long marriage can provide. They no longer lived together, but they had an understanding, forged
                through many difficult years of him “coming out”, multiple infidelities, and too many disappointments to
                count. But, finally, after all that, they managed to have a friendship that worked for both of them, and
                she appreciated his showing up when she got sick.

            </p>
            <p>
                So, when she got sick the second time, he showed up again. This was a bit difficult for a daughter to
                understand, their friendship, but it worked for them, so she tried not to judge. But the idea of losing
                her mother was overwhelming. She had already lost her second mother, Edna, and whenever she thought
                about Wilma dying, she started to cry, no matter where she was or who she was with. She found herself
                praying that her mom would live, asking God to let her mother live.

            </p>
            <p class="text-center">
                23
            </p>
            <p>
                But he did not answer her prayers, and although she put up a good fight, Wilma died October 28, 1997. At
                first, the grief was overwhelming, she went through all the phases of grief, denial, depression, anger,
                bargaining, and finally acceptance (Kubler-Ross, 1969). But grief is a messy business, it does not
                happen in sequence, it happens as it happens, and she had a new baby to take care of, her daughter Grace
                was born September 20, 1997, a little over a month before her mother died.

            </p>
            <p>
                She fell in love with her daughter, the joy of that little baby girl carried her through some of the
                most difficult days and nights of her life. She couldn’t love her daughter without missing her mother
                though. It was, well, complicated. We all project into the future, it’s just what we do, and she had
                always envisioned her mom there to share and help with the baby, so her mom’s absence was visceral, and
                always there, sometimes as a sharp penetrating pain, and sometimes as a general malaise.

            </p>
            <p>
                There was no one closer to her than her mother, no one. No one understood her the way her mother did,
                the way they could communicate without talking, with a look – if someone was being a jackass for
                instance – or the way they could laugh, man could they laugh. The loss of her mom left a big gaping hole
                in her heart.

            </p>
            <p>
                Time doesn’t stop for grief, it keeps moving forward, and she had a new baby to take care of, and the
                baby seemed to be changing and growing every day. Her father was a pleasant surprise after the death of
                her mother. First of all, he appeared to be sober, he was going to AA meetings, and he had a sponsor. At
                least that was what he said, and she was slowly beginning to trust him again.

            </p>
            <p>
                He was wonderful with little Grace, kind, gentle, and he seemed to truly love her. This was a man who
                was known for not liking children; when Sarah was growing up, she had to earn her way to sit at the
                adult table for dinner parties. He said you had to hold your own in adult conversations before you could
                sit with the adults, she was 15-yrs-old before she was allowed at the adult table. Even then, he allowed
                her presence begrudgingly, he could be, well, he could be a prick. To put it mildly.

            </p>
            <p>
                He seemed bonded to Grace though, and she eventually let him watch her while she worked. This was a big
                deal, a huge deal really, this trust. And he appeared to be taking the responsibility seriously, he was
                present, and responsible. He would tell her all about the cute shit Grace did while she worked, and they
                started to bond over their shared wonder at this beautiful little girl. And they also shared their
                grief. They didn’t talk about her mom much, they didn’t have to, her loss was so palpable, her absence
                so present. Every time they talked about some new milestone Grace attained it was as if her mother was
                there, and, who knows? Maybe in a way, she was.

            </p>
            <p>
                This period didn’t last for long. Six months maybe. It ended abruptly on March 4, 1999. She doesn’t
                remember much about the day she learned that her father had been killed. She supposes now that she went
                into shock, too much loss (and trauma) too soon. After that it was a whirlwind of preparation for the
                funeral, taking care of Grace, and her extended family coming in, both her mother’s and father’s sides.
                She remembers the tears, hell, she had barely stopped crying for her mother when her father was
                murdered, so the tears flowed. She remembers the love that was so present before and during the funeral.

            </p>
            <p class="text-center">
                24
            </p>
            <p>
                She has always believed in God, sometimes more than others, but the basic belief was always there. And
                what she does acknowledge about God is that He shows up for funerals, starting with Edna, then her
                mother, and maybe especially when her father died. It was so fucking horrible, a part of her thought He
                damn well better show up, otherwise, what’s the point?

            </p>
            <p class="text-center" style="font-weight: bold;">
                Betrayal
            </p>
            <p>
                That’s what her father’s death was, a deep, slashing betrayal. This was not an easy grief. It was hard
                to not see the last six months of his life as a big fat lie. He was using, binging, even when he was
                taking care of Grace. Maybe not at the specific time he was babysitting Grace, but the night before and
                the night after, which meant that he really wasn’t all there when he had Grace. That made her afraid,
                even though it had already happened, it still scared her.

            </p>
            <p>
                So many bad things could have happened, and there is just no getting around the fact that he put his
                beautiful little grandchild at risk. She could hear his rationalizations and justifications, what he
                would say if she ever did get the chance to confront him, how he would minimize her concerns and turn
                the confrontation into an attack on her.

            </p>
            <p>
                Tom Otte could make you believe you were wrong even when you knew you were right. Maybe it was the fact
                that he survived a psychotic mother and an alcoholic father, not only survived but became a man of God,
                a minister. Being the oldest of five, he did his best to lead and protect (control) his younger
                siblings. He was charismatic, funny, intelligent, Bipolar (untreated), and man could he preach, make you
                cry and feel God’s grace like no other.

            </p>
            <p>
                But he was not a well man. He would tell you he was fine, and you would believe it, even though you knew
                he was sick, and the older he got, the sicker he became, especially when he was using. He did have
                periods of sanity, when he’d stop drinking, stop using drugs, stop philandering, when he would appear
                almost normal. Like many survivors of unbalanced family systems, he was a great actor, he could present
                sane. But she knows now that he never was, not really, underneath his normal looking exterior lived the
                crazy, self-destructive Mr. Hyde. The periods of sobriety were the anomaly, not the other way around.

            </p>
            <p>
                The older she gets, the more she completes the picture of the man who was her father. It’s a little like
                paint-by-numbers, little memories come back at weird times, some re-enforcing his insanity, and some
                revealing his deeper beauty, the part of him that was connected to God, his unique and unrepeatable
                genius. The more complete the picture of her father, the more her grief moves into acceptance, the more
                she can let go. This has taken years, this acceptance, years of therapy, years of moving through painful
                and difficult feelings.

            </p>
            <p>
                She has moved on though, she married a grounded, beautiful man, an arborist. A man with his own children
                and a crazy ex-wife. She became the mother she wanted to be, not perfect, but like her mother, grounded,
                no bullshit, and loving. The addiction illness re-surfaced in her own daughter, and dealing with that is
                an on-going process, but she is better with it, and she tries to not take it personally.

            </p>
            <p class="text-center">
                25
            </p>
            <p>
                Some days are better than others, and there’s no getting around her history of trauma associated with
                addiction. Two of her father’s siblings are admitted addicts, both clean at the time this was written.
                The disease of addiction moves through generations, like a snake moving through the branches of the
                family tree, but so does the miracle of recovery, and she prays every day that her daughter will get the
                miracle of recovery.

            </p>
            <p>
                Sarah is a walking miracle, a survivor of the kind of trauma that could have easily destroyed her. It
                didn’t though, destroy her, and she lives a rich, full, love-filled life. When she looks back at the
                past, she can now see the invisible power of love, guiding and protecting her. Her father’s family may
                have insanity, but it also has faith in a loving, personal God, and Love trumps pathology every time.

            </p>
            <p>
                So complicated grief is grief permeated by strong, sometimes conflicting emotions that do not allow for
                a simple, straight forward grieving process. It takes more time, sometimes decades, to resolve the loss,
                and it takes work. Complicated grief usually requires psychotherapy, and a willingness to hold many
                contradicting emotions at the same time. This is not easy work, and many are unwilling to do it. They
                hold on to the resentments and corresponding wounds generated by the loss and tell themselves that if
                they don’t think about it, it isn’t there.

            </p>
            <p>
                It is there though. As evident in Sarah’s story, love needs an openness and a willingness to feel and
                process emotions to operate effectively. Maybe it was having a baby that needed love, or maybe it was a
                deep faith underneath all her pain that kept her open; whatever it was, Sarah was open to the power of
                love. She always has been, it is part of her deep beauty. It is a window into her true self, her soul.

            </p>
            <p>
                Love is a dynamic, healing power, it moves and changes us, and if we deny our own pain, we block the
                flow of love. Period. It’s that simple. Do not misunderstand me, the process of grieving, and of
                psychotherapy, is complex and multi-layered, and the “opening” process that allows love to work is also
                complicated, but willingness is fairly straight forward and simple. We are either willing to feel, or we
                are not, and denial, which usually starts as an unconscious defense, eventually rises to the surface.
                Once we know we are, or have been, in denial, it is up to us to open the door.

            </p>

        </div>
    </div>