<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Chapter 2 | John A. Otte</title>
    <div class="my-5 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Do Your Work
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Chapter 2 - Rage</h3>
                <br>
                <br>
            </div>


            <p>Rage is destructive, destructive to the victim, and destructive to the person “raging”. That is the
                primary problem with rage, it is a destructive force in the world, as far as emotions go, maybe the most
                destructive force in the world. It is the primary emotion driving physical and emotional abuse. I
                believe it is one of the underlying emotions fueling racism and police brutality. The power of rage can
                be seen in crowd behavior. When rage is stoked and promoted in crowds the destructive force is
                amplified. We have all witnessed the power of raging crowds, we call them riots.
            </p>
            <p>Rage begets rage. In other words, if you are subjected to rage as a child, you will carry rage as an
                adult. I don’t believe that there are any positives when it comes to rage. Rage is a form of anger, but
                its intensity combined with the violence often associated with it, separates it from anger. There is no
                easy cure for rage, it is often shrouded in shame and guilt.
            </p>
            <p>I have had several rage experiences in my life, the first one that I remember was with my mother when I
                was 12-yrs-old. I wanted to stay overnight at a friend’s house, and she said no, she said no and would
                give me no reason, just “no”. I should mention that I was a victim of my mother’s rage as a child, but
                in this instance, she wasn’t the one full of rage, I was.
            </p>
            <p>What I remember was a feeling of anger so intense, I couldn’t control it, I had to break something. I
                stormed out of the house and was walking down the driveway when I noticed my mother through the window,
                she was on the phone, and I ran up to the window and punched my fist through the glass. I was shocked,
                surprised by my destructiveness. It was almost like I regained consciousness and realized what I had
                done. My mother, strange woman that she was, laughed at me.
            </p>
            <p>I have had several other experiences with rage, both as an adolescent and as an adult, and I thank God,
                literally, that I have not hurt anyone during my rage episodes. Rage is such a terrifying experience,
                that many, who are subjected to it as a child, swear they will never act out rage as an adult. This is
                all well and good, noble even, however, as I said earlier, rage begets rage, and if you are determined
                to not act it out as an adult, well, it must go somewhere.
            </p>
            <p>Henry
            </p>
            <p>He loved being underwater. It was quiet, peaceful, and there was the very real experience of
                weightlessness, the suspension of gravity, and the weightlessness seemed to free him from any heavy
                emotions that he was carrying, and he had been carrying some heavy emotions. In fact, he had told his
                therapist before this trip to the Caribbean that he felt like he had broken something deep inside
                himself. He still felt that way.
            </p>
            <p>It started with a request of a friend. Henry’s son was a big kid, a football player, a defensive lineman
                looking to go out for the varsity team as a freshman in High School. Henry’s friend, Matt, was a former
                NFL defensive end who provided individual coaching to rich parent’s kids. Henry asked Matt to spend some
                time coaching his son, and Matt said he would. So Henry connected the two, although Matt already knew
                Henry’s son, and Matt set up a meeting with Henry’s son. Then he blew him off, didn’t show up, didn’t
                call or text, just didn’t show.
            </p>
            <p>Henry made excuses to his son for Matt’s behavior, how Matt was very busy, and we all make mistakes, etc.
                Matt never really apologized for blowing off Henry’s son, which Henry did notice and didn’t like but
                Matt made another time to meet with his son, so he let it slide. And then he did it again, just didn’t
                show to the meeting with the kid, and this time, Henry didn’t let it slide. He confronted Matt,
                basically told him he was a jerk, an ungrateful friend who couldn’t do one thing for Henry after Henry
                had done many things, including lending him money, without asking him for anything in return.
            </p>
            <p>Except this one thing, help Henry’s son play football. Matt did not respond well to Henry’s
                confrontation. If Matt would have said “I’m sorry, you’re right, I messed up and I won’t do it again”,
                this story would end here. But that’s not what happened. Matt told Henry that he was the jerk, and that
                his son couldn’t play football, and Matt was wasting his time trying to coach him. This lit a fuse in
                Henry, a short fuse, one that he thought he had gotten rid of several years ago.
            </p>
            <p>Once the fuse was lit there was no stopping it, an explosion was soon to follow. Henry told Matt he was
                beyond hope, a raging narcissist, and that their friendship was over and moreover, if he wanted to
                settle this like a man, Henry would meet him wherever and whenever, just name the place. Matt was not
                backing down, he said he’d meet Henry now, in a school parking lot, in fact, he was driving there now.
                Henry responded that he was on his way.
            </p>
            <p>When Henry pulled into the lot, he saw Matt’s car and drove right at it at a high speed, squealing to a
                stop 10 yards short of hitting it. Matt was getting out of the car as Henry popped the trunk and got out
                of his car, pivoted to the trunk, and grabbed a 6 iron. They faced off, yelling at each other, Matt
                saying “you need a golf club, you piece of shit!?! You chicken shit, I got you for a felony right there
                you dumb-ass!!!” Henry screaming back “you got me by 50 pounds dick-weed, you think I’m going to lose
                this fight?!? Fuck you and come and get some!!!”
            </p>
            <p>Matt turned around and walked back to his car yelling “you’re going to jail, you dumb ass, that’s felony
                assault, you’re done, finished!”. With adrenaline still coursing through his veins Henry was not done,
                but before he could respond Matt was in his car and driving away. Henry was left with the aftershock of
                an intense adrenaline rush. He leaned back on his car, dropped his head, and tried to get his breathing
                under control.
            </p>
            <p>He let go of the golf club and it clattered on the pavement. He felt sick to his stomach and leaned over
                with his hands on his knees, thinking he was going to throw up. As his breathing slowed, the critical
                voice in his head started up “What the fuck is wrong with you? You’re going to jail for this, you dumb
                mother…” and on and on. He had no defense against the critical voice, in fact, he agreed with it,
                completely.
            </p>
            <p>It occurred to him that he was lucky he didn’t have another heart attack. He felt bad on all levels,
                physically, emotionally, spiritually. The worst part was he felt like all the emotional and spiritual
                growth he had done with his therapist and in an intense trauma-focused residential treatment center
                program he completed a year prior was a lie. A big fat lie. He was no better, in fact, he was worse. At
                least that was what he told himself that warm fall evening.
            </p>
            <p>He told his therapist that he felt broken, and he was clearly having trouble regulating his mood. Henry
                had always struggled with Major Depression, and now he felt like his depression was up along with
                whatever trauma shit had been brought to the surface. He was a mess and he felt like it. He had a good
                support system though and he told a couple of key people what had gone down with Matt. Matt did not go
                to the police which helped Henry deal with the confrontation between them in the past tense.
            </p>
            <p>Henry also had the means to travel and that’s why he was in the warm, clear waters of the Caribbean.
                There was no doubt that the water soothed and healed him, but there was plenty of healing yet to do, and
                whenever Henry thought about the interaction with Matt, he felt sick to his stomach. He found himself
                praying for Matt even more than he prayed for himself. Most of all, he prayed that he would never
                experience anything like that again.
            </p>
            <p>Rage is trauma. Trauma for the victim and trauma for the perpetrator. The physiological process
                associated with rage is the same process associated with a panic attack; the body is flooded with
                adrenalin. The fight/flight/freeze mechanism is activated, and with rage the activation translates to
                fight, while with panic the activation results in freeze. In both instances the body is reacting to what
                is perceived as a high stress event.
            </p>
            <p>Rage is not easily healed, much like abandonment, the experience of rage is, by its very nature,
                overwhelming. In the parlance of psychological testing there is a line used, “cognition overwhelmed by
                affect”. Translated, this means that the experience of emotion is so strong that one can’t think,
                literally. This experience can accompany many different feelings, but in the case of rage, not being
                able to think has potential tragic consequences. Imagine feeling rage with a gun your hand for instance,
                or behind the wheel of a car. We even have a phrase describing this, “road rage”.
            </p>
            <p>Henry experienced a high stress event, and his thinking was overwhelmed by both the impact of adrenalin
                and by the emotions associated with experiencing abuse and neglect as a child. On a psychodynamic level
                a perfect storm of emotional dynamics was triggered when Matt both neglected/emotionally hurt Henry’s
                son by not showing, and then blamed the son by saying he wasn’t any good at football, thereby implying
                that the reason he (Matt) hurt the son was because the son wasn’t any good.
            </p>
            <p>Henry, who already identified with his son to a painful degree, was further triggered because Matt
                neglected/emotionally abused Henry himself by refusing to take responsibility for his actions. These are
                the reasons the emotional tripwire of rage was activated, and Henry’s rage had a target, Matt. It’s too
                easy to say that Henry’s actions are only the result of unresolved childhood trauma, every father who
                loves his son is going to be triggered by an adult mis-treating his kid the way Matt did with Henry’s
                son.
            </p>
            <p>Finally, there is the issue of powerlessness. Henry was powerless and helpless in the face of his
                father’s rage and abuse. Henry re-experiences this historical powerlessness through his identification
                with his son. However, and herein lies the seductive power of rage, Henry is a grown man now and he
                doesn’t have to just sit and take it anymore. He is pulled to get as powerful as he possibly can be in
                the face of this emotional/physical threat, so he grabs a golf club.
            </p>
            <p>Henry reported after the incident that he felt “broken”, like something deep inside himself had been
                injured by his actions. This is true, he did re-injure himself; by assuming the adult position in the
                adult-child abuse dynamic, he re-injures the abused child inside himself. The minute he becomes the
                raging adult, on an emotional level, Matt becomes the injured child in the spontaneous psychodrama they
                are both playing out and unconsciously Henry finds himself playing the role of his father, and Matt, the
                son.
            </p>
            <p>The beauty of a spiritual or twelve step approach to rage lies in the response to brokenness. Admitting
                powerlessness, or brokenness, is a necessary step in the journey to healing. We allow that Power access
                to our deepest self, to our broken and wounded child, when we admit that we are broken. In the previous
                chapter, my childhood abandonment is healed only after I fully experience my childhood terror. Henry,
                through the psychodrama he acts out with Matt, is broken open. And because he keeps showing up, with his
                therapist, with his sponsor, and with his friends, I know that Power is healing him.
            </p>
            <p>Rage feels powerful, intoxicatingly powerful, this stands in direct contrast to the feelings underneath
                rage, emotional injury, shame, fear, and grief. These feelings are vulnerable, we feel weak when we are
                in tears or scared, and who wants to feel weak? The resistance to experiencing our grief and fear is
                compounded by the survival instinct triggered when we are enraged. Our vulnerability was life
                threatening when we were children. Imagine a child facing an enraged adult, it’s not that different from
                standing unarmed in front of a roaring lion, one’s survival is at stake.
            </p>
            <p>It takes enormous strength and courage to admit powerlessness and brokenness. This paradox: weakness
                leading to courage and strength, or brokenness leading to healing and wholeness, keeps repeating in the
                spiritual life
            </p>
            <p>Love is more powerful than rage. My spiritual sponsor, Dano (more about him later) believed that God, or
                that Power, is love, unconditional, unlimited love. Love is a force, a power that surrounds and, if we
                allow it, penetrates us. To envelope and heal us, love requires one crucial step, surrender or being
                broken. We need a crack in the armor that is our ego to let in the healing power of grace and love. In
                contrast, rage looks and feels powerful, but is most often grounded in fear. Rage seeks to dominate and
                control, while love seeks to soften our hearts and free us emotionally.
            </p>
            <p>Another way to state this is what we learn on the spiritual path is that the willingness to experience
                vulnerability reveals great courage and strength. This paradox is maybe the most central paradox for men
                if they want to become fully integrated and emotionally whole.
            </p>
            <p>My willingness to experience my brokenness reveals strength and my willingness to walk through my fear is
                evidence of my bravery. When we do this, walk through our fear, it is best if we don’t do it alone.
                Sometimes, as in the story that began this book, we do it alone, it can’t be helped. But many times, we
                have the option to share our fear and fear shared is fear reduced. I have found that there is nothing as
                healing as being vulnerable and open in a relationship with another man, or men. I believe most men are
                hungry for male friendships that are honest and open, and it is my sincere hope that readers of this
                book will realize, as Henry already knew, that we don’t have to go it alone.
            </p>


        </div>
    </div>