<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Chapter 3 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Do Your Work
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Chapter 3 - Uncomplicated Grief</h3>
                <br>
                <br>
            </div>
            <p>
                For many men, the experience of grief feels out of control and frightening. I was 31 years old the first
                time I was swept away by grief, it felt like a rip tide knocked me off my feet, my weeping was
                convulsive. It was New Year’s Day, 1986, and my sister-in-law, Edna, had just died.
            </p>
            <p>
                I loved Edna, she showed up in my life when I was 8 years old, living with a mentally ill mother and an
                alcoholic father. Edna was there for me, she understood my living situation when I didn’t have a clue,
                understood that my mother was not only mentally ill, but abusive, and that my father was alcoholic. I
                fell in love with Edna with the innocence of a little boy and she reciprocated my affection with
                kindness, patience, and a great sense of humor.
            </p>
            <p>
                Edna was Canadian, and she, along with her brother and several other young Canadians, formed a group
                with my two oldest brothers, Tom and Tim. They were an intelligent, attractive, politically liberal
                group and, this was the 60’s, there were many on again, off again romances. I loved it when my brothers
                brought their friends to the house, there was always plenty of laughter, lively conversation, and a
                welcome change in the energy in my childhood home.

            </p>
            <p>
                Edna had polio as a young girl, and, as a result, had lost the use of her legs and only had one
                functioning lung. Polio had twisted her spine to the point that she needed to wear a hard plastic brace
                to sit upright in her wheelchair. She had shoulder length dark hair and a pretty, sharp featured face.
                She immediately put me at ease about her wheelchair and even let me play with it when she would sit in a
                regular chair.

            </p>
            <p>
                The story is that my brother Tim asked Edna to marry him after being rejected by her best friend. At age
                8, I wanted to marry Edna, but I settled for her being part of my family. I remember asking Edna after
                the wedding, if this meant she was my sister now. She had me sit on her lap and said, yes, indeed, she
                was now officially my sister. Edna was sharp witted, smart as a whip, maybe the smartest person I have
                known and, maybe because of having gone through the scary ordeal of polio as a little girl, she had a
                wisdom beyond her years. I loved her as much as I’ve loved anyone in my life.

            </p>
            <p>
                Because of the polio, Edna always had health issues, and was medically hospitalized many times
                throughout her life. Usually, it had to do with her not getting enough oxygen, and she was on O2 most of
                the time I knew her. The last time I spoke to Edna was at a dinner party the week before Thanksgiving
                1987. It was a party for my other sister-in-law, Wilma.

            </p>
            <p>
                Tim and Edna, and Tom, my oldest brother, and his wife Wilma, lived together with Tom and Wilma’s two
                children in a big Victorian house on Girard Street in Hartford CT. This arrangement worked for both
                couples as Tim and Edna could not have children, and they helped raise Tom and Wilma’s two kids, plus it
                afforded them both a much larger house. The house on Girard was the only “community” house I have ever
                been connected to. It was Tom’s dream to live in a community and his dream was realized for around a
                decade during the 80’s and 90’s. The house was known for its large dinner parties and my last time with
                Edna was at one of those dinner parties.

            </p>
            <p class="text-center">
                15
            </p>
            <p>
                It was a party of 20-25 people all seated around a large oval table in the front dining room and,
                because I was there when the seating was determined, I chose to sit with Edna on my right and my niece
                Sarah on my left, two of my favorite people in the world.

            </p>
            <p>
                I have relived my conversation with Edna that night many times. I was obsessed with David Lynch’s movie
                “Blue Velvet” at the time, and would, literally, make people watch it if they came to my house. Lynch’s
                movie was an attempt to expose the hypocrisy of the middle class and the dark, or “shadow” side (as Carl
                Jung would call it) of the human condition. It also established a pattern for Lynch involving filming
                the worse scenes of mental illness I have ever watched. I was aware that the main female character had
                some eerie resemblance to my mother and her mental illness, but at the time, I thought this, too, was a
                good thing.

            </p>
            <p>
                My argument with Edna was that the dark side needed to be exposed to be confronted, and I was fervent in
                my belief. Edna countered that art should always be edifying, giving glory to God and his creation, and
                that a focus on the “dark side” or, evil, not only did not edify the audience, it ran the risk of
                glorifying the darkest aspects of the human condition. Looking back, the only positive I can take from
                my argument is that it resulted in Edna giving me a spiritual principle that I try to live up to, to
                this day.

            </p>
            <p>
                I loved her. I still do.

            </p>
            <p>
                Two days after that party on Girard, Edna fell into a coma from which she would never wake. The doctors
                told my brother that she was basically brain dead and on New Year’s Eve, 1987, life support was
                withdrawn. Edna died shortly thereafter. The loss did not hit me right away, I remember being scared by
                my brother Tom’s primal grief wail the night she died. Several days later I was driving back from New
                York, where I was completing my psychology internship, and I emitted a similar wail. I had to pull over
                because I was sobbing so much that I couldn’t see. From there on in, through the funeral and afterwards,
                I cried as frequently and openly as I ever had in my life.

            </p>
            <p>
                This was uncomplicated grief. My attachment to Edna was not complicated, I loved her. Uncomplicated
                grief, or bereavement, is characterized by a positive attachment. There are no unresolved issues or
                conflicts with the deceased, the pain is acute and deep, but it heals. The following is a story about
                one of my client’s uncomplicated grief responses.

            </p>
            <p class="text-center" style="font-weight:bold ;">
                A Love Affair

            </p>
            <p>
                She called him after her son was killed. He was green back then, still getting used to thinking about
                himself as an attorney, still thinking about whether he preferred the term “counselor” to “attorney”.
                Counselor had a certain gravitas that appealed to him, like Tom Hagan in The Godfather, a consigliere,
                someone whose opinions had weight. When she called, he of course said yes, she was family, his aunt, his
                father’s sister. He liked her, he just didn’t know her all that well, she lived in Atlanta, and he did
                not.

            </p>
            <p>
                He knew her son too, his cousin, and he knew the case. The young man had been killed by a drunk driver,
                a horrible, tragic death, a promising young man whose life was over, bam, just like that. It made him
                nervous, taking on a case like this for family, but it was something he knew he had to do, it’s what you
                did, first lawyer in the family and all, no question.

            </p>
            <p class="text-center">
                16

            </p>
            <p>
                He was also worried about how much pain she would be in, and how he would handle that. How does one
                console a mother who’s lost a son? You don’t, right? He wasn’t sure how he’d handle it if she went all
                hysterical on him. But then, she was calm on the phone, and she was a middle-aged black woman, every
                middle-aged black woman he knew had dealt with tragedy.

            </p>
            <p>
                The strange part, looking back, is that even though he didn’t know her, he felt her pain way before they
                talked, and not in some abstract “mother loses her son” way, no, he knew her pain, even back then, when
                he didn’t know it. How do you describe a connection that exists before contact is made? A connection
                that will not end after contact is severed. It just is, was, and will be. In the end, she had handled
                the pain of losing her son like everything else, she kept living.

            </p>
            <p>
                On the day of her death, he thought about that phone call way back then, and about how that phone call
                had changed both their lives. It was the beginning, the first thread in the beautiful weave of their
                life-long friendship. Friendship doesn’t capture it though, it was a love affair, and even calling it a
                love affair suggests things that don’t fit.

            </p>
            <p>
                He knew he loved her, started to realize how much he loved her when she told him she was done living,
                and then when he realized she might die he was stunned by the physical, piercing pain in his heart. And
                she loved him, he knew that too. That first phone call set into motion his taking care of her, and to be
                honest, her taking care of him too.

            </p>
            <p>
                He took care of a lot of people, his children, his sisters, his mother, various women throughout the
                years, and his aunt. He came to accept it, this taking care of people. He was successful, that helped.
                But it was more than the money, it was accepting that it was his destiny. He let go of the resentment.
                He was blessed beyond his wildest expectations. In his heart and soul, he knew God chose him to do this,
                to give, to take care of, to protect and to provide.

            </p>
            <p>
                He never resented taking care of her. He worried about her for a time, when she was gambling, and her
                phone calls became predictable. She’d tell him that she’d been up the hill again, and that she’d lost,
                again. It was never that much, but the money started to add up and her nest egg continued to shrink,
                until there wasn’t much left. Then she told him that she was done with casinos, and for a moment he felt
                relief, but then she said that from now on, she’d only play bingo. Damn.

            </p>

            <p>
                He never questioned her gambling, never saw the point. It wasn’t going to stop, and they had an unspoken
                agreement, no judgment, no shame. She never questioned his womanizing either, she’d met a few of them,
                he could tell whether she liked them or not right away. It wasn’t what she said, it was her silence. She
                didn’t ask about them, she’d act like it never happened, and start telling him about bingo last night,
                or ask him to come over and fix her garage door or help her get her little dog to the vet. They
                understood each other, words weren’t necessary.

            </p>
            <p>
                There was the connection to his father, not that they talked about him. But he was there now that he
                thought about it. The way blood is there, blood, DNA, shared history. How far back did it go? Maybe it
                was like two mirrors facing each other, an image reflected back and forth to infinity. When she died,
                she stepped right through the mirror, and in an instant, she was gone, vanished.

            </p>
            <p class="text-center">
                17
            </p>
            <p>
                She wasn’t a God-fearing woman, not like his mother. His mother, she wanted him to convert her, to save
                her before she died and went to meet Jesus, told him he needed to pray with her, make her confess her
                sins. If she didn’t, well, if she didn’t…his mother knew better that to come right out and say she was
                going to hell, but she all but said it. And for a few days there, when it was clear she was going to
                die, she wouldn’t let up. Asking him, did she pray? Did she get right with the Lord? He finally fixed
                her with a look, the look saying “enough”, and, mercifully, she stopped.

            </p>
            <p>
                He knew she was all right, after she died. He knew it before she died. He did pray with her, but it
                wasn’t his mother’s prayer, and it wasn’t his mother’s God he prayed to. He prayed to have her heart
                open, so maybe she could experience a little of what happened for him. The Power, the movement, the
                mysterious energy that would fill and move through him. He wanted her to feel it and maybe she did, in
                her own way.

            </p>
            <p>
                She wasn’t afraid to die, that’s for sure. She told him she was done with this life, that there wasn’t
                anything left for her, and then she went about the business of dying. No food, no water, she moved
                farther and farther into herself until she wasn’t there anymore. He could feel her leave, gradually, she
                wasn’t in any rush, it wasn’t suicide, but she left, she chose to leave, and she did. And she wasn’t
                afraid.

            </p>
            <p>
                He didn’t think God had a problem with it, actually, he knew God was ok with it, her death was quiet,
                peaceful. She taught him something about death and about fear. It was remarkable, her lack of fear. He
                wasn’t sure what to make of it, maybe there was nothing to be afraid of, nothing at all. The way she
                died: did we just one day decide we were done? Would he have a day like that somewhere in the future?
                Wake up one day and know “I’m done”.

            </p>
            <p>
                A therapist once told him that his whole lifestyle was about his fear of death, or his denial that he
                was going to die. There probably was some truth to it then, but today he felt like the denial had been
                stripped away. He knew he was going to die; he knew that one day he would be finished, just like she
                was. He could feel that to be true. One day I will be done with this life.

            </p>
            <p>
                He missed her, missed the phone calls, missed hearing about her dysfunctional little dog, he even missed
                hearing her complain about losing at bingo. He loved her, but he didn’t choose this love. He couldn’t
                even describe it. She made him laugh, that’s for sure, he would smile just thinking about her. She knew
                him and he knew her, and they loved each other. The love they shared was tender, gentle, respectful,
                honest, and, in the end, transcendent.

            </p>
            <p>
                He realized, now that she was gone, that she was a refraction of the light that is God, a “unique and
                unrepeatable expression of God’s love” as his friend Al would say, and, in the end she gave him a gift
                that was greater than anything he had given her: when she died she held the door open for a moment, she
                let him see that there was nothing to be afraid of, that one day he would be done with this life, and he
                would be ready

            </p>

        </div>
    </div>