<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>The God of Your Understanding | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            The God of Your Understanding
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Chapter 5</h3>
                <br>
                <br>
            </div>
            <p>I do not have an advanced theology degree although, having grown up with two older minister brothers, and
                having attended Christian school and college (Calvin College), I sometimes feel I should have at least
                an honorary master’s degree. I certainly was indoctrinated into the Christian faith starting from
                infancy, if you count baptism, and I can honestly say that I’ve never questioned the existence of God. I
                have certainly questioned who God is, and what kind of God I believe in, and that is why I’m writing
                about God today.
            </p>
            <p>I believe two things: a) Like the Bible, the 12-steps were divinely inspired, and b) the phrase “The God
                of your understanding” is a revolutionary theological construct. Relatedly, and I borrow this idea from
                one of my minister brothers, I believe that 12-step meetings have largely replaced church attendance for
                many people today, and that 12-step meetings are similar to the early church in that they provide
                fellowship in a community grounded in spiritual principles.
            </p>
            <p>When I first came to “the rooms” (12-step meetings) I had coffee with my first sponsor and he gave me the
                acronym “HOW”, which translates to Honesty, Open-mindedness, and Willingness. Those were the first
                spiritual principals I was introduced to, and they are foundational to work a 12-step program. It’s
                appropriate that the first principle is honesty, especially because addiction is built on a foundation
                of lies.
            </p>
            <p>And honest sharing with fellow addicts is the first foundational brick of the fellowship. This is where
                12-step meetings are thought to mirror the early church: A group of admittedly broken humans gather for
                an hour every week and tell each other the sometimes-ugly truth. My minister brother told me that he
                would occasionally attend 12-step meetings that were held in his church, and when he did, he would
                introduce himself saying “my name is Mike and I’m a sinner.” I love that story because by admitting his
                brokenness, he identified himself with the addicts or alcoholics in the room.
            </p>
            <p>That identification is necessary and when I share honestly about my addiction (sins) the barriers of
                social status, class, race, etc. dissolve and love permeates myself and my peers. Love. The Love that I
                speak of fills the meeting rooms, and for those open-minded individuals, penetrates their usual
                defenses. It is why people return to meetings. I have felt that Love in meetings on a physical level, it
                is an energy (Holy Spirit?) that results in even deeper emotional truth being spoken.
            </p>
            <p>Most people are aware that the 12-steps were derived from the 6-steps of the Oxford Group, a Christian
                based fellowship. Because the steps come from a Judeo-Christian theology they are very “God” centered.
                The word “God” appears five times in the steps, God is also referred to (in the male gender) at least
                3-4 more times. Many people are averse to the 12-steps just because of the God-centered focus,
                reportedly the Oxford Group ultimately fell apart because of the Christian focus, or so the story I was
                told goes.
            </p>
            <p>Dr. Bob and Bill W. then expanded the 6 steps into 12 and included the key phrase “the God of your
                understanding”. I was told there was much discussion about the use of this phrase and one can easily
                imagine theological arguments taking place. When I grew up I was taught that to create a “God”, or
                “idol” (what else could it be if it came from sinful me?) was heresy. God was defined for me; the
                “Trinity” which equated to “Father, Son, and Holy Spirit”.
            </p>
            <p>I’m fairly certain that “the God of your understanding” was included in the 12-steps so that people of
                all faiths or religions would not be excluded from working the 12-steps. In that sense, the phrase has
                worked, I believe you could find all the major religions represented in any given 12-step meeting. And
                members are encouraged to find the God of their understanding while working (writing) the steps
            </p>
            <p>I did not find God in the church. I know I believed in God as a small child, I remember praying to Jesus
                to keep me safe at night, but by the time I reached adolescence I rebelled against the church and all it
                stood for. My rebellion was fueled by my mother’s delusional, hyper-religiosity and the resulting
                physical and emotional abuse that I consciously or unconsciously linked to her faith. I do remember
                consciously thinking how could anyone have faith in a church and belief system that resulted in
                insanity?
            </p>
            <p>I found God in the rooms of recovery. This did not happen right away, in fact, it took 10 years and many
                painful relapses to get to the place where I was open to a “new” God. Because I had always believed in
                God, I really didn’t question what kind of God I believed in. The literature of the 12-steps provides
                only one suggestion regarding the God of your understanding, that he/she/it be kind and loving. That’s
                it, I remember feeling a little bit superior to my fellows because I was raised in the church and
                already understood God.
            </p>
            <p>That all changed after my last relapse in 2005. It’s a story I have told many times. At my first meeting
                after my relapse, I shared about what had happened and was making my usual quick getaway when my sponsor
                and spiritual mentor Dano stopped me and demanded that I sit down with them for a few moments. They told
                me that if I didn’t get a new Higher Power, the disease of addiction was going to kill me. When I
                responded that I had a Higher Power, Dano said, “exactly, that’s the problem”. I had no idea how to go
                about getting a new God.
            </p>
            <p>That was when Dano first talked to me about his Higher Power, which he defined as Love. He said that he
                believed this Love was unconditional, non-judgmental, non-shaming, and more powerful than we could ever
                imagine. That there were moments and experiences of this Love that were incomprehensible, that were way
                beyond our capacity to intellectually understand, and that meant that this Love was beyond anything we
                could ever create or manifest. After our talk I noticed that whenever Dano shared in a meeting and
                referenced God, he would say “that Power that I don’t understand.”
            </p>
            <p>I’m not sure why I was open to the idea of God as Love that day, I for sure had the gift of desperation
                after that relapse. Dano and I had many conversations about God and Love following that day and,
                gradually, my experience of God changed. What I remember most about that time was the fear. I had lost
                my professional license and could not practice as a psychologist for several years after that. I
                realized I had invested way too much of myself in my professional identity, without that I felt lost and
                uncertain. Despite my fear I started to have experiences of being cared for, even loved, by a Power
                greater than myself.
            </p>
            <p>I found my Higher Power first in the meetings, and the God I found there I do think of as Love. Finding
                that Love in the meetings is a process that continues to this day, 20 years since that relapse in 2005.
                No matter where I am emotionally, when I walk into a meeting, I usually hear what I need to hear in the
                meeting. For me, that is my Higher Power communicating directly to me, through the other people in the
                rooms. I have come to believe (2nd step) that God generally speaks to me via my relationships, and this
                appears to be true for many people.
            </p>
            <p>My idea and experience of my Higher Power continues to evolve and change. The God of my understanding
                reveals himself (I’m using the male gender for expediency’s sake) to me, sometimes gradually, sometimes
                in ways that overwhelm my world view. I believe the degree to which I have an open heart directly
                impacts my experience of God; the more open I am, the more I see evidence of God working in myself and
                others. This is the radical theological construct which I referenced earlier.
            </p>
            <p>God reveals himself to me! Even writing that sentence is difficult, a part of me still thinks it is
                borderline heresy to think this way. And yet, this is my experience. From the time that I experienced
                freedom from active addiction to this day I have experienced God in the deepest part of my being. When
                Thomas Keating (another of my spiritual mentors) said “God’s language is silence, anything else is a
                poor translation” I began to understand my experience in a different light.
            </p>
            <p>If God can change me from the inside out, and if he knows me to such an extent where words aren’t
                necessary, why wouldn’t my consciousness reflect this deeply felt experience? I see evidence that God
                does not need to be defined in the rooms of recovery all the time. There are plenty of examples of
                people who do not believe in “God” and yet have had the desire to use drugs removed from their
                consciousness and have been restored to sanity. Many of them would say that it was the love of fellow
                addicts that helped them let go of their need for drugs, and to that I say, exactly! I believe the
                unconditional love and acceptance in the rooms of recovery is God.
            </p>
            <p>I continue to see myself as a Christian, I believe that Jesus Christ saved myself and the world from the
                destructiveness of sin. I do not believe that Jesus is the only way to spiritual enlightenment, however.
                I’ve just seen too many examples of enlightened, loving individuals who do not believe in Jesus, and,
                conversely, I see too many examples of “Christians” acting in non-loving ways that are harmful to other
                human beings. What I have been taught in the rooms of recovery is that I don’t need to understand how
                that works. Indeed, I don’t need to try and understand God.
            </p>
            <p>Like Dano said, “that Power that I don’t understand”. I do not understand how or why that Power works. I
                do know, through my experience, that Power is Love, Love beyond my wildest imagination. I have been
                changed by that Power and that transformation continues to the degree that I surrender myself to Love
                and to service.
            </p>
        </div>
    </div>