<% layout('layouts/boilerplate') %>
    <title>Contact | John A. Otte</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <div class="my-5 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;" data-aos="zoom-in">
            GET IN TOUCH
        </h1>
    </div>

    <div class="row contact-container d-flex align-items-evenly mx-2" data-aos="fade-in">


        <div class="col-lg-5 d-flex flex-column justify-content-evenly">
            <div class="my-3 px-5 text-center fs-5 lh-large">
                This is where the rubber meets the road: making that first contact. You
                can call me, send me a text, or send me an email (using the form on this page), and I'll get back to
                you
                as soon
                as I can. Whatever
                method feels right to you is fine with me.
                Please give yourself credit for doing this, it takes courage and strength to ask for help.
            </div>

            <div class="text-center my-3 fs-5">
                <h3 class="my-3" style="font-family: 'Poppins', sans-serif;">Address:</h3>
                <p>5290 E. Yale Circle, Suite #201</p>
                <p>Denver, Colorado 80222</p>
                <p>Phone: 720.635.6274</p>
                <p>Or, send a message using the form:</p>
            </div>


        </div>
        <div class="container d-flex flex-column col-lg-6 fs-5">
            <div class="d-flex justify-content-center">
                <%- include('./partials/flash') %>
            </div>
            <form class="contact-form validated-form" action="/contact" method="POST" novalidate>
                <div class="row mt-5">
                    <div class="mb-3 col-12 pe-4">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                aria-describedby="emailHelp" required>
                            <div class="valid-feedback">Looks Good!</div>
                        </div>
                        <div class="col-6">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="number" class="form-control" id="phone" name="phone" required>
                            <div class="valid-feedback">Looks Good!</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject"
                                aria-describedby="subject" required>
                            <div class="valid-feedback">Looks Good!</div>

                        </div>
                        <div class="col-6 d-flex justify-content-end d-flex flex-column">
                            <label for="message">Message</label>
                            <textarea class="form-control mt-2" id="message" name="message" cols="25" rows="10"
                                required></textarea>
                            <div class="valid-feedback">Looks Good!</div>
                        </div>
                    </div>

                </div>
                <button class="hidden-submit" style="display: none;">Submit</button>
                <div class="d-flex justify-content-end">
                    <div class="d-flex justify-content-end pe-4 pt-4" style="width: 200px; height: 150px;">
                        <div class="box-3">
                            <div class="button button-three shown-submit">
                                <span title="submit-message" tabindex=0>Send</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.getElementsByClassName('validated-form');
                // Loop over them and prevent submission
                const validation = Array.from(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();


        let lastTop = sessionStorage.getItem("sidebar-scroll");
        var scrollOptions = {
            left: 0,
            top: lastTop,
            behavior: 'auto'
        }

        if (lastTop !== null) {
            window.scroll(scrollOptions)
        }

        let scrollPosition = null
        window.addEventListener('beforeunload', () => {
            scrollPosition = document.documentElement.scrollTop //on submit, define scroll position as current
            sessionStorage.setItem("sidebar-scroll", scrollPosition); ///place that postion in the localstorage

        })
    </script>
    <script src="/javascripts/contact.js"></script>