<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/contact.css">

    <div class="row contact-container d-flex align-items-start mx-2">
        <div class="col-lg-2"></div>

        <div class="col-lg-4 d-flex flex-column">

            <h2 class="h-50 mt-5">Get in touch</h2>
            <p class="my-5">
                A unique, effective, therapeutic approach rooted in spirituality.
                I want to encourage you in your search for a therapist, making that first call, or contact, to a
                therapist
                is one of the most difficult and hopeful things you can do about your situation.
            </p>
            <h3>Address:</h3>
            <p>5290 E. Yale Circle, Suite #201</p>
            <p>Denver, Colorado 80222</p>
            <p>Phone: 720.635.6274</p>
            <p>Hours: By appointment only</p>






        </div>
        <div class="container d-flex flex-column col-lg-4">
            <form>
                <div class="row mt-5">
                    <div class="mb-3 col-12 pe-4">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        </div>
                        <div class="col-6">
                            <label for="number" class="form-label">Phone Number</label>
                            <input type="number" class="form-control" id="number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subject" aria-describedby="subject">

                        </div>
                        <div class="col-6 d-flex justify-content-end d-flex flex-column">
                            <label for="message">Message</label>
                            <textarea class="form-control mt-2" name="" id="message" cols="25" rows="10">
                        </textarea>


                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-end">
                    <div class="d-flex justify-content-end pe-4 pt-3" style="width: 200px; height: 150px;">
                        <div class="box-3">
                            <div class="button button-three">
                                <span>Send</span>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>