<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Holiday Blog 2024 | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Holiday Blog 2024 </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Holidays</h3>
                <br>
                <br>
            </div>
            <p>A couple of years ago I wrote a blog about the holidays. It was about my mother’s mostly negative
                response to Christmas and how that impacted me as a child. I learned to dislike Christmas growing up and
                that perspective haunted me through most of my adult life. I did have a window, when my kids were
                little, where I didn’t come to love Christmas exactly, but I tolerated it for their sake, it was better,
                not great, but better.
            </p>
            <p>As I enter my senior years, some of my dislike for the holidays has returned. I don’t see this as
                unusual, on a developmental level, the older we get, the more our past comes back, especially if there’s
                any unresolved pain or trauma from childhood. So that part doesn’t concern me too much. What I do find
                interesting is, the older I get, the more I identify with my mother’s experience of Christmas.
            </p>
            <p>Like her, I dislike the materialism that Christmas has come to embody. My kids have discontinued gift
                giving for Christmas, something I agree with, but it’s not just the gifting that I don’t like. They have
                a saying in 12-step programs that expectations lead to resentment, and this can be especially true
                around the holidays.
            </p>
            <p>Media inundates us with sentimentality around family and friends which can easily result in unconscious
                expectations for the holidays, that they should be full of love and joy. Then, when those expectations
                are not met, we end up feeling like there’s something wrong with us, or we foster resentments around our
                family and friends not showing up for us. Either way, there’s disappointment and some emotional pain.
            </p>
            <p>The truth about Christmas is that it is about the birth of Jesus Christ. The joy and peace associated
                with the day stem from the Christian assertion that God sent his only son, Jesus, to live as a man in
                this world, in order to sacrifice himself to save the human race. In short, we have been saved from the
                hopelessness and emotional pain of life and death in a sinful, broken world.
            </p>
            <p>According to Christian theology, we have been given a new opportunity for redemption and salvation
                because Christ died for our sins, an opportunity for our brokenness to be healed, to be “reborn” into a
                world of Love and Grace. An opportunity to let go of our brokenness, an opportunity to move from a world
                dominated by fear and aggression, into a world where we are unconditionally accepted and loved, where we
                have the unbelievable opportunity to be an instrument of Love and Grace.
            </p>
            <p>The Kingdom is here, now, ruled by a King who brings love and forgiveness rather than judgment and shame.
                The birth of Christ symbolizes our potential to be reborn into the world of love, the world of Light, to
                be freed from the burden of guilt and shame. It is only when we accept the grace of forgiveness that we
                are freed from self-centered shame, free to accept and give Love, to be an instrument of Love with our
                fellow humans. What a gift!
            </p>
            <p>My therapist calls this new consciousness “Christ Consciousness”. Rather than looking for love and
                acceptance outside myself, I commit to bring the love and acceptance I desire into my relationships. In
                short, I give what I want to get, I become an instrument rather than a receptacle and by doing this I
                stop looking externally for validation. Instead, I look for opportunities to love and validate others.
                In the language of the 12-steps, I only get to keep what I have (love) by giving it (love) away.
            </p>
            <p>I’m not very impressive as a Christian, I haven’t set foot in a Church, other than going to the basement
                for a 12-step meeting, in years. To be honest, 12-step meetings are my church. The irony isn’t lost on
                me that over the course of my life I have moved from sitting in a pew in the sanctuary as a child, to
                sitting in a circle in the church basement as a 68-yr-old man. I sit in the basement with (today) over
                50 addicts all there to help each other stay clean, and there is Love and Truth spoken and felt there.
            </p>
            <p>I’m not completely adverse to attending a service, and hope to this Christmas Eve. It’s just not how I’ve
                come to worship in the last dozen years. But this year, in honor of my mother Dorothy, I think I’ll give
                it a try. Peace, Light, and Love to all of you this holiday, Merry Christmas.
            </p>
        </div>
    </div>