<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/boilerplate.css">
    <title>Holiday Blog | John A. Otte</title>
    <div class="my-4 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;">
            Holiday Blog </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="col-9 mx-5">
            <div class="text-center">
                <h3>Holidays</h3>
                <br>
                <br>
            </div>
            <p>Memories change with age but my memories around Christmas have remained remarkably consistent. To say my
                mother had emotional difficulty with Christmas is like saying Michigan is cloudy and cold in the winter.
                Her difficulty was persistent and sadly predictable. I do not have many specific memories around
                Christmas, it’s more “emotional memory” as one of my therapists called it.</p>
            <p>Emotional memory comes into consciousness as a pervasive feeling that is not grounded in current reality.
                In other words, you feel bad even though there’s no immediate environmental trigger. In fact, the
                opposite may be true, you may be having a good day when, seemingly out of the blue, sadness overwhelms
                you. It may be triggered by a visual image, or a smell, or a sound, sometimes there doesn’t seem to be a
                trigger at all.</p>
            <p>To understand emotional memory, one needs to understand brain and cognitive development. To put it
                simply, the brain of a child does not work the same as the brain of an adult, and this is especially
                true when it comes to creating memories. When you add the element of early emotional trauma, how memory
                is stored becomes even more complex. </p>
            <p>In my case, I’ve come to understand that, because I am an empath, I frequently absorbed the emotional
                climate of my childhood home. Because I did not possess the capacity to process the emotions I was
                absorbing, nor the boundaries to block them, these feelings were frequently repressed and stored, only
                to resurface later.</p>
            <p>Christmas was a difficult time for my mother, the joy of Christ’s birth was trumped by her pervasive
                guilt and deep feelings of unworthiness, thus my main memory of her around Christmas was her absence.
                She stayed in bed, for days, sometimes weeks, before and on Christmas day. Any excitement I might feel
                coming into the big day was usually squashed by my mother’s psychotic depression.</p>
            <p>Her depression was sometimes expressed in rage. She believed that Christmas should be solely focused on
                Christ’s birth, and that secular society’s emphasis on gift giving commercialized a sacred and holy day.
                Therefore, even a child’s innocent excitement around receiving gifts was evidence of the secularization
                of Christmas, and, thus, sinful. Today I have compassion for my young self who experienced confusion and
                internal conflict over his own excitement. </p>
            <p>And forget about Santa Claus, the very symbol of the secularization of Christmas. I don’t ever remember
                believing in Santa, and my sense is that any idea I may have had about Santa and Rudolf, and the rest,
                was quickly extinguished. It’s no wonder that as a young man I disliked Christmas and saw the holidays
                as primarily a reason to use every substance I could get my hands on. It was only after I had my own
                children that I began to question my emotional response to Christmas.</p>
            <p>My children healed me when it came to Christmas. This healing didn’t happen overnight, it took years,
                but, over time, their unbridled joy and anticipation of Christmas impacted my Grinch-like attitude. I
                started to understand my emotional wounds around the day and recognized how wrong my mother’s stance
                really was: my children’s innocence opened my eyes to my own innocence when I was little, and how gift
                giving could be viewed as an appropriate reflection of God’s gift to mankind.</p>
            <p>That’s not to say I like or enjoy Christmas today. I don’t. Today my primary emotional response to the
                holidays is…melancholy. Melancholy is defined as “depressed in mind or spirit, dejected, sad” and to
                that I would add that there is an element of the past impacting the present, of memory and loss in the
                emotional experience.</p>
            <p>I have seen and experienced this emotional response to the holidays in my clients, year after year, and I
                usually try to convey to them that they are not alone in their experience. Feeling alone in one’s
                emotional experience seems to be another aspect to melancholy, one that, in my role as a therapist, I
                can work to dispel. All the emphasis on family and idealistic fantasies portrayed in the media only
                serves to increase the sense that, if you’re not full of joy on Christmas Day, there’s something wrong
                with you.</p>
            <p>Well, that thought is just plain wrong. The older we get, the more likely we are to have lost family
                members and loved ones, and to notice their absence in a more acute way over the holidays. That’s the
                truth, and that’s the natural progression of life. Add to that how many of us just experienced an
                increase in family dysfunction over the holidays and you have a more accurate portrayal of what many of
                us experienced when it comes to Christmas.</p>
            <p>I did accidentally stumble onto a small antidote to the Christmas blues several years ago. I believe I
                had gone to a midnight Christmas Eve service with my son the night it happened. I remember I had dropped
                him off and returned home, I was walking from my car to the house when I noticed how quiet it was, quiet
                and peaceful. So, I stopped and just stood there, and a feeling of peace washed over me, unbidden.</p>
            <p>Since that Christmas Eve I have made a point of going outside before I go to bed on every Christmas Eve,
                and, every time, I have experienced that peace. It got so I began to tell my clients, especially the
                ones that struggle the most with the holidays, to try it for themselves. </p>
            <p>And, every one of them has said they experienced the same thing. Maybe it’s just that the world shuts
                down on Christmas Eve, as one of my client’s suggested. Or maybe, there is something else at play, a
                little Grace, a little transcendent peace, a momentary relief from our daily concerns and struggles.
                Whatever it is, I no longer have the need to explain or define what happens, I just show up and let
                myself be.</p>




        </div>
    </div>