<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Special+Elite&Josefin+Sans:wght@300;400&family=Zen+Antique+Soft&family=Poppins:wght@100;200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>John A. Otte</title>
</head>

<body>
    <div class="image-container">
        <div class="image d-flex flex-column justify-content-between">
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-transparent d-flex w-100">
                <div class="container-fluid">
                    <a href="#"><img class="navBrand" src="images/johnottewhite.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header bg-dark text-light">
                            <h5 class="offcanvas-title ms-2" id="offcanvasNavbarLabel">MENU</h5>
                            <button type="button" class="btn-close close-btn text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body justify-content-end bg-dark">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="txtgrow" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="txtgrow" href="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="txtgrow" href="/services">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="txtgrow" href="/contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="txtgrow" href="/video">Video</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </nav>


            <div class="emblem" data-aos="fade-in">
                <img src="images/trinity.png" alt="">
                <h4 style="color: #65b370;">Therapy | Spirituality</h4>
                <h6 data-aos="fade-in" data-aos-delay="1000">A novel,
                    effective,
                    therapeutic approach rooted in
                    spirituality.</h6>
            </div>
        </div>
        <div class="scrollDown" data-aos="fade-in" data-aos-offset="-200" data-aos-delay="1300"></div>
    </div>

    <div class="d-flex flex-column">
        <div class="d-flex flex-column justify-content-center">
            <div style="height: 7em;"> </div>
            <div class="row d-flex justify-content-center intro-container">
                <div class="col-lg-6 john-container p-0" data-aos="zoom-in-right">

                    <a href="/about">
                        <h1 class="imageOverlay" style="font-family: 'Poppins', sans-serif;">MORE ABOUT JOHN</h1>
                    </a>
                    <img class="john" src="/images/john-otte.jpg" alt="">
                </div>
                <div class="d-flex flex-column col-lg-6 justify-content-center align-items-center">
                    <div class="d-flex justify-content-center">

                        <!-- <h1 class="my-3 welcomeHeader d-flex justify-content-center">
                            Welcome</h1> -->
                    </div>
                    <div class="welcomeText mx-3 mt-3 px-5 d-flex flex-column text-center ">
                        <br>
                        <p class="lead welcomeLead">"If you’re reading this I want to encourage you in your search
                            for a
                            therapist,
                            making that first call to a therapist is one of the most difficult and hopeful things
                            you
                            can do
                            about your situation."</p>
                        <p>
                            <br>
                            My specialty areas are depression and addictions. I’ve been a practicing psychologist
                            for
                            over
                            24 years and I love the work. My focus in the last few years has shifted to a more
                            spiritual
                            orientation; this is due to working with people who are in recovery, and also relates to
                            my
                            own
                            journey. Spiritual based psychotherapy is not about religion, but about keeping an open
                            mind.
                        </p>
                        <br>
                        <p>
                            The truth about psychotherapy is that it works; people do get better. I work from a
                            variety
                            of
                            orientations including Family Systems, Jungian theory, CBT, and mindfulness.
                            It’s my job to help you take the energy that impelled you to make that phone call and
                            begin
                            the
                            healing process.</p>
                        <br>

                        <p>– John A Otte | PsyD</p>

                        <p class="lead fs-5">720.635.6274 || <a class="link" href="/contact">Get in Touch</a></p>

                    </div>
                </div>

            </div>
        </div>
        <div style="height: 7em;"> </div>

    </div>

    <div class="image-container">
        <div class="image2 d-flex flex-column align-items-center" data-aos="fade-in">
            <div class="text-center fs-1 mt-5" data-aos="fade-in" style="font-family: 'Special Elite', cursive;">
                How do people get well?</div>
            <div class="text-center fs-3"></div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex flex-column align-items-center justify-content-center mb-4">
                            <p class="fs-4 mt-3 carousel-lead">The Therapeutic Alliance</p>
                            <img class="img-fluid w-10 mb-3" style="max-width: 70px;" src="images/trinityblack.png"
                                alt="">
                            <div class="w-50">
                                <p class="text-center fs-6">This refers to the attachment between therapist and client.
                                    The
                                    attachment itself is about the mutual goal of forming a relationship focused on the
                                    healing of the client. The fact that our society supports such a relationship is a
                                    bit of a miracle. The relationship is protected by law, and for that reason and
                                    several others is, I believe, sacred.</p>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex flex-column align-items-center justify-content-center mb-4">
                            <p class="fs-4 mt-3 carousel-lead">Make the Unconscious, Conscious</p>
                            <img class="img-fluid w-10 mb-3" style="max-width: 70px;" src="images/trinityblack.png"
                                alt="">
                            <div class="w-50">
                                <p class="text-center fs-6">The second mechanism has to do with psychoanalytic theory.
                                    The
                                    truth that we operate with unconscious motivations due to
                                    repressed emotions and memories is more accepted today than it was in Freud’s time.
                                    However, many still resist, in spite of significant supporting research from
                                    academic communities and mental health professionals.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex flex-column align-items-center justify-content-center mb-4">
                            <p class="fs-4 mt-3 carousel-lead">The Desire to Get Well</p>
                            <img class="img-fluid w-10 mb-3" style="max-width: 70px;" src="images/trinityblack.png"
                                alt="">
                            <div class="w-50">
                                <p class="text-center fs-6"> it is my belief and experience that everyone has an innate
                                    desire to get well. This desire is sometimes matched by a shadow desire to remain
                                    sick and destructive. However, provided adequate support, the desire to get well is
                                    much more powerful and clients inevitably begin to blossom, provided they are
                                    willing to do the work of therapy which can be very difficult and painful.
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="fs-5 mb-5 text-center" style="font-family: 'Poppins', sans-serif;">Read more about my approach
                <a class="link" href="/services">here</a>
            </div>
        </div>
    </div>
    <div class="image-container">
        <div class="image3 d-flex flex-column align-items-center justify-content-center">
            <h2 class="mt-5 text-center" style="font-family: 'Poppins', sans-serif;" data-aos="fade-in"> See a video
                series from John</h2>
            <div class="ratio ratio-16x9 my-5 interview-container" data-aos="zoom-in">
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/videoseries?list=PLjdiHZsQSex7PFvO8p2gtxmujRxhdwGMj&rel=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="fs-5 mb-5 text-center" style="font-family: 'Poppins', sans-serif;">Click the <i
                class="fas fa-step-forward"></i> icon to skip to the next video
            or <a class="link" href="/video">click here</a> to
            browse all videos</div>


    </div>
    <%- include('./partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                duration: 2000
            });
        </script>
        <script src="/javascripts/home.js"></script>
</body>

</html>