<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/services.css">
    <title>Services | John A. Otte</title>

    <div>

        <h1 class="text-center my-5" style="font-family: 'Poppins', sans-serif;" data-aos="zoom-in">Services || Approach
        </h1>
        <div class="green-box d-flex flex-column py-5" data-aos="fade-in">

            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3 class="my-3 text-center">In both individual and group settings, I use the following types of
                    therapy:
                </h3>
                <ul class="my-3 fs-5">
                    <li>Cognitive Behavioral (CBT)</li>
                    <li>Existential</li>
                    <li>Family Systems</li>
                    <li>Jungian</li>
                    <li>Psychodynamic</li>
                </ul>
            </div>
            <h3 class="my-5 text-center">The three fundamental touchpoints of my therapeutic approach are:</h3>
        </div>
        <div>


            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5" data-aos="zoom-in">
                    <i class="fas fa-feather-alt fs-1"></i>
                    <h2 style="font-family: 'Poppins', sans-serif;">Spirituality</h2>
                    <p class="lead fs-4 my-2">Spirituality is not religion</p>
                </div>
                <div class="fs-5 mx-5 my-3 w-75 d-flex flex-column justify-content-center align-items-center"
                    data-aos="fade-in">
                    <p>This bears repeating: spirituality is not religion. In fact, sadly, very religious
                        people
                        are
                        often severely
                        lacking in any spirituality. For me, spirituality is the acceptance of mystery: that there is an
                        undefinable
                        Power that is unseen and incomprehensible to the human mind and, this Power is completely
                        present
                        and
                        active
                        in daily life.</p>
                    <p>
                        Faith in this Power develops from the three needed principles provided in 12-step programs and
                        summarized by
                        the acronym “HOW”. HOW means Honesty, Open-mindedness, and Willingness. Sadly, most humans,
                        myself
                        included,
                        lack in all three principles, but that doesn’t mean we can’t try to implement them in our life.
                        If
                        we
                        are
                        willing to try to be honest, open-minded regarding a benevolent Mystery, or Higher Power if you
                        will,
                        and we
                        are willing to speak our truth, experience will lead us to faith. </p>
                    <p>
                        I have never seen this process fail, and the only requirement to start is intention. It’s a
                        wondrous
                        and
                        beautiful thing, and a
                        little frightening when experienced. Why? Because it is change, and because it’s the experience
                        of
                        Grace
                        which is another word for change. It continues to baffle me why we resist our deepest desire.
                        But we
                        do.
                        Spirituality in psychotherapy means an acceptance that the Power we can’t understand – which I
                        call
                        love
                        –
                        is most present in relationships, therapy included.</p>
                </div>
            </div>
            <div class="green-box d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5" data-aos="zoom-in">
                    <i class="fas fa-pills fs-1"></i>
                    <h2 style="font-family: 'Poppins', sans-serif;">Addiction</h2>
                    <p class="lead fs-4 my-2">Not just a bad habit</p>
                </div>
                <div class="fs-5 mx-5 my-3 w-75 d-flex flex-column justify-content-center align-items-center"
                    data-aos="fade-in">
                    <p>Addiction, as opposed to a bad habit, is a disease of the body, mind, and spirit. As a friend of
                        mine says, it’s a whole person disease. There are three criteria for any behavior to qualify as
                        an addiction:</p>
                    <ol>
                        <li>Obsession: the constant, repetitive, circular thinking about a drug, a person, or a
                            behavior.</li>
                        <li>Compulsion: engaging in a behavior, using something to alter mood, against one’s will.</li>
                        <li>Craving: the hunger, or irresistible need (can be on a cellular level) that drives the
                            addictive behavior.</li>
                    </ol>
                    <p>
                        In my experience addiction is often best treated through a combination of some type of
                        spiritually-based program, like the 12-step fellowships, and either individual or group
                        psychotherapy. </p>
                    <p>Addiction, to borrow from the Big Book of AA, is “cunning baffling, and powerful”. My experience
                        and my belief is that the most successful battles with addiction are fought with spiritual help,
                        as opposed to one’s own will power, strength, or convictions. I am not claiming that this is the
                        only way to get well; it’s the only way I know.
                        Having said that, I am continually amazed at how different and varied my client’s paths to
                        healing and health are.</p>
                    <p>
                    <p>
                        There’s no one way, there are a thousand paths to health and wellbeing.
                        There is a great paradox to the cure of addiction, it is only through acceptance, surrender, and
                        love that we get well. I mean complete and total acceptance and surrender of our addict selves.
                        Only then do we accept that love cures all, that the Power that is love will change us. </p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5" data-aos="zoom-in">
                    <i class="fas fa-cloud-showers-heavy fs-1"></i>
                    <h2 style="font-family: 'Poppins', sans-serif;">Depression</h2>
                    <p class="lead fs-4 my-2">Also a disease of body, mind, and spirit</p>
                </div>
                <div class="fs-5 mx-5 my-3 w-75 d-flex flex-column justify-content-center align-items-center"
                    data-aos="fade-in">
                    <p>Today, as opposed to even 20 years ago, there are medications that help. But depression is also a
                        “thought” disease. Depression talks to us and tells us that the negative ideas we carry about
                        ourselves are true; they are our reality when we are depressed.</p>

                    <p>In that way, depression has many similarities to addiction. Our thinking and core beliefs need to
                        change. The shame and guilt we carry be transformed. And, again, this happens through a renewal
                        of the spirit. The beauty is that we don’t even have to acknowledge that Power to change: we
                        just need to accept that change is happening.</p>
                    <p>As in all solid psychotherapy, this can be very painful and difficult. But people do get well and
                        if the therapy is solid, we learn to diagnose ourselves and know what we need (medication,
                        spirituality, and sometimes therapy) to get well.</p>
                    <p>The body aspect of depression is usually evident in the following symptoms: low energy, sleep
                        problems, appetite disturbance, and an inability to concentrate. In my experience, these
                        symptoms are often very effectively treated by medication, something an amazing amount of people
                        resist. I always use the analogy of diabetes; if you had diabetes would you refuse to take
                        insulin? Brain chemistry is no different than blood chemistry. Some of us need the help of
                        medication to balance our neurotransmitters, that’s the truth of it.</p>
                </div>
            </div>
        </div>
    </div>