<% layout('layouts/boilerplate') %>
    <title>Videos | John A. Otte</title>
    <h1 class="text-center page-title" style="font-family: 'Poppins', sans-serif;" data-aos="zoom-in">Videos
    </h1>



    <div class="row row-cols-1 row-cols-md-3 g-4">
        <%for (let video of videoData) { %>

            <div class="col mb-4">
                <div class="card h-100">
                    <div class="ratio ratio-16x9 my-5 interview-container">
                        <% console.log(video.url) %>
                            <iframe src="https://drive.google.com/file/d/19K0P9n0ulqItXjiWWIyJ4RAAjmM4rmVT/preview"
                                width="640" height="480" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
            <% } %>
    </div>

    <%for (let video of videoData) { %>

        <% } %>

            <script src="/javascripts/videos.js"></script>