<% layout('layouts/boilerplate') %>
    <title>Videos | John A. Otte</title>
    <h1 class="text-center page-title" style="font-family: 'Poppins', sans-serif;" data-aos="zoom-in">Videos
    </h1>



    <div class="row row-cols-1 row-cols-md-3 g-4">
        <%for (let video of videoData) { %>

            <div class="col mb-4">
                <div class="card h-100">
                    <!-- Button trigger modal -->
                    <input type="image" class="btn thumb" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        src="/images/videothumbnails/<%=video.img%>">
                    </input>

                    <!-- Modal -->
                    <div class="modal fade close-video" id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        John A. Otte Interview Series
                                    </h5>
                                    <button type="button" class="btn-close close-video" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="ratio ratio-16x9 my-5 interview-container">
                                        <% console.log(video.url) %>
                                            <iframe width="560" height="315"
                                                src="https://www.youtube.com/embed/<%=video.url%>"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary close-video"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <% } %>
                <div class="col mb-4">
                    <div class="card h-100">
                        <!-- Button trigger modal -->
                        <input type="image" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            src="/images/videothumbnails/thumb2.jpg">
                        </input>

                        <!-- Modal -->
                        <div class="modal fade close-video" id="exampleModal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            John A. Otte Interview Series
                                        </h5>
                                        <button type="button" class="btn-close close-video" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="ratio ratio-16x9 my-5 interview-container">

                                            <iframe width="560" height="315"
                                                src="https://www.youtube.com/embed/_XRtKqMjBfc"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary close-video"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
    </div>

    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: 'M7lc1UVf-VE',
                playerVars: {
                    'playsinline': 1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }
        function stopVideo() {
            player.stopVideo();
        }
    </script>

    <script src="/javascripts/videos.js"></script>