<% layout('layouts/boilerplateWritings') %>
    <link rel="stylesheet" href="">
    <title>Some short writings posted by Dr. Otte</title>
    <div class="my-5 page-title-container">
        <h1 class="text-center page-title aos-init" style="font-family: 'Poppins', sans-serif;" data-aos="zoom-in">
            WRITINGS
        </h1>
    </div>
    <div class="row d-flex justify-content-center mw-100">
        <div class="card p-0 m-5" style="width: 18rem;" data-aos="fade-in">
            <img src="/images/sandsymbol.jfif" class="card-img-top" alt="sand-symbol-image">
            <div class="card-body">
                <h5 class="card-title">Do Your Work</h5>
                <p class="">Chapter 1 - Abandonment</p>
                <p class="card-text">Read the first chapter from my book here!</p>
                <a href="/chapter1" class="btn btn-success d-block m-auto"
                    style="font-family: 'Poppins', sans-serif;">Go to Article</a>
            </div>
        </div>
        <div class="card p-0 m-5" style="width: 18rem;" data-aos="fade-in">
            <img src="/images/swinging-dark.avif" class="card-img-top" alt="sand-symbol-image">
            <div class="card-body">
                <h5 class="card-title">Swinging in the Dark</h5>
                <p class="">Monthly Blog 1</p>
                <p class="card-text">Read the monthly blog here, check later for more.</p>
                <a href="/blog1" class="btn btn-success d-block m-auto" style="font-family: 'Poppins', sans-serif;">Go
                    to Article</a>
            </div>
        </div>
        <div class="card w p-0 m-5" style="width: 18rem;" data-aos="fade-in">
            <img src="/images/ahead.jfif" class="card-img-top" alt="sand-symbol-image">
            <div class="card-body">
                <h5 class="card-title">More Coming Soon!</h5>
                <p class="card-text">Check back later for more chapters and writings.</p>
            </div>
        </div>
    </div>