@font-face {
  font-family: opificio;
  src: url(/fonts/opificio_rounded.ttf);
}
:root {
  --lightgreen: rgb(236 250 239);
}
* {
box-sizing: border-box;
}

.btn-success {
  background-color: rgb(141, 191, 148);
  border-color: transparent;
}
.btn-success:active, .btn-success:hover, .btn-success:focus{
  background-color: rgb(126, 180, 134);
  border-color: transparent;
}

.page-title-container {
  position: relative; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  box-shadow: 0px 6px 5px rgb(88, 88, 88), 0px -1px 4px rgb(88, 88, 88);
}
.page-title-container:after {
  content: "";
  background-image: url(/images/agriculture.png);
  background-size: 220%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  
}
.page-title {
  font-size: 3rem;
  color: rgb(255, 255, 255)
}

body { 
    font-family: 'Zen Antique Soft', serif;
    font-weight: normal;
    line-height: 2em;
    margin: 0;
    padding: 0;
    border: 0; 
    z-index: 0;
}
.btn-close {
  background-color: rgba(163, 163, 163, 0.719);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('/images/pathWoods.jfif') no-repeat fixed;
    background-position: center bottom;
    background-size: cover;
}

.navbar{
    min-height: 12vh;
}
.navBrand {
    width: 15rem;
}
.navbar-toggler {
  border: none;
}
.nav-item a {
    margin: 7px 7px;
    text-decoration: none;
    z-index: 5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    transition: all 0.75s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.nav-item a:hover {
    transform:scale3d(1.3, 1.3, 1.3) !important ;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: greenyellow;
}
.nav-item a:active   {
    transform:scale3d(1.3, 1.3, 1.3) !important ;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: greenyellow;
}
.nav-item a:focus-visible {
    outline: 0;
    transform:scale3d(1.3, 1.3, 1.3) !important ;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: greenyellow;
}

@media (min-width: 992px) {
    .offcanvas-body.bg-dark {
        --bs-bg-opacity: 1;
        background-color: transparent !important;
      }
    .navBrand {
      width: 25vw;
    }
    .page-title-container:after
    {
      background-position: 0% 26%;
      background-size: 110%;
    }
    .page-title {
      font-size: 3.7rem;
    } 
  }

footer{
    min-height: 10vh;
    background-color: rgb(128, 184, 136) !important;
}

.box-3 { background-color: rgb(128, 184, 136); }
.box-3 {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }
  .button-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  .button-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .button-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .button-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .button-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  




