:root {
    --lightgreen: linear-gradient(white, rgb(236, 250, 239));
  }

.green-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: var(--lightgreen);
    background-position: center bottom;
    background-size: cover;
}